# DATAFRAMES

In [2]:
import pandas as pd

## TEMEL İŞLEMLER

In [2]:
ulke=pd.read_csv("./datasets/dunya.csv")
ulke

               Ülke     Gelir     Nüfus  Kişi Başına           KITA
0               ABD  20410000   323,766        63039  Kuzey Amerika
1               Çin  14090000  1415,045         9957           Asya
2           Japonya   5170000   127,185        40649           Asya
3           Almanya   4210000    82,293        51158         Avrupa
4         İngiltere   2940000    66,573        44162         Avrupa
5            Fransa   2930000    65,233        44915         Avrupa
6         Hindistan   2850000  1354,051         2104           Asya
7            İtalya   2180000     59,29        36768         Avrupa
8          Brezilya   2140000   210,867        10148  Güney Amerika
9            Kanada   1800000    36,953        48710  Kuzey Amerika
10            Rusya   1720000   143,967        11947         Avrupa
11       GÜney Kore   1690000    51,164        33031           Asya
12          İspanya   1510000    46,397        32545         Avrupa
13      Avusturalya   1500000    24,772        60552      Okyanusya
14          Meksika   1210000   130,759         9253  Kuzey Amerika
15        Endonezya   1070000   266,794         4010           Asya
16         Hollanda    945000    17,084        55314         Avrupa
17          Türkiye    910000    81,916        11108           Asya
18  Suudi Arabistan    748000    33,554        22292           Asya
19          İsviçre    741000     8,554        86626         Avrupa

In [3]:
ulke.head()
ulke.tail(3)
ulke.index
ulke.shape
ulke.columns
ulke.axes
ulke.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ülke         20 non-null     object
 1   Gelir        20 non-null     int64
 2   Nüfus        20 non-null     object
 3   Kişi Başına  20 non-null     int64
 4   KITA         20 non-null     object
dtypes: int64(2), object(3)
memory usage: 932.0+ bytes

In [4]:
# index güncelleme
ulke=pd.read_csv("./datasets/dunya.csv",index_col="Ülke")
ulke

                    Gelir     Nüfus  Kişi Başına           KITA
Ülke
ABD              20410000   323,766        63039  Kuzey Amerika
Çin              14090000  1415,045         9957           Asya
Japonya           5170000   127,185        40649           Asya
Almanya           4210000    82,293        51158         Avrupa
İngiltere         2940000    66,573        44162         Avrupa
Fransa            2930000    65,233        44915         Avrupa
Hindistan         2850000  1354,051         2104           Asya
İtalya            2180000     59,29        36768         Avrupa
Brezilya          2140000   210,867        10148  Güney Amerika
Kanada            1800000    36,953        48710  Kuzey Amerika
Rusya             1720000   143,967        11947         Avrupa
GÜney Kore        1690000    51,164        33031           Asya
İspanya           1510000    46,397        32545         Avrupa
Avusturalya       1500000    24,772        60552      Okyanusya
Meksika           1210000   130,759         9253  Kuzey Amerika
Endonezya         1070000   266,794         4010           Asya
Hollanda           945000    17,084        55314         Avrupa
Türkiye            910000    81,916        11108           Asya
Suudi Arabistan    748000    33,554        22292           Asya
İsviçre            741000     8,554        86626         Avrupa

In [9]:
# loc, indexe göre almayı sağlar
# ulke.loc["Asya", "Gelir"]
ulke.loc["ABD", ["KITA","Gelir"]]
ulke.loc["ABD"]

KITA     Kuzey Amerika
Gelir         20410000
Name: ABD, dtype: object

In [18]:
dunya = pd.read_csv("./datasets/dunya.csv")
dunya.head()
# belli sütunları alma
dunya[["Ülke", "KITA"]].head()
# yeni sütun
dunya["Sıralama"] = "Top 20"
# araya sütun ekleme
dunya.insert(2, column="gelir düzeyi", value="yüksek gelir")
# bir sütun üzerinde bölme işlemi
dunya["Gelir"] = dunya["Gelir"]/1_000_000

# excel formülü tadında, bir sütundan işlemle yeni sütun oluşturma:
dunya["Gelir TL"] = dunya["Gelir"] * 4.75
dunya["Gelir €"] = dunya["Gelir"] * 1.12
dunya

,Ülke,Gelir,gelir düzeyi,Nüfus,Kişi Başına,KITA,Sıralama,Gelir TL,Gelir €
0,ABD,20.410,yüksek gelir,"323,766",63039,Kuzey Amerika,Top 20,96.94750,22.85920
1,Çin,14.090,yüksek gelir,"1415,045",9957,Asya,Top 20,66.92750,15.78080
2,Japonya,5.170,yüksek gelir,"127,185",40649,Asya,Top 20,24.55750,5.79040
3,Almanya,4.210,yüksek gelir,"82,293",51158,Avrupa,Top 20,19.99750,4.71520
4,İngiltere,2.940,yüksek gelir,"66,573",44162,Avrupa,Top 20,13.96500,3.29280
5,Fransa,2.930,yüksek gelir,"65,233",44915,Avrupa,Top 20,13.91750,3.28160
6,Hindistan,2.850,yüksek gelir,"1354,051",2104,Asya,Top 20,13.53750,3.19200
7,İtalya,2.180,yüksek gelir,"59,29",36768,Avrupa,Top 20,10.35500,2.44160
8,Brezilya,2.140,yüksek gelir,"210,867",10148,Güney Amerika,Top 20,10.16500,2.39680
9,Kanada,1.800,yüksek gelir,"36,953",48710,Kuzey Amerika,Top 20,8.55000,2.01600
10,Rusya,1.720,yüksek gelir,"143,967",11947,Avrupa,Top 20,8.17000,1.92640
11,GÜney Kore,1.690,yüksek gelir,"51,164",33031,Asya,Top 20,8.02750,1.89280
12,İspanya,1.510,yüksek gelir,"46,397",32545,Avrupa,Top 20,7.17250,1.69120
13,Avusturalya,1.500,yüksek gelir,"24,772",60552,Okyanusya,Top 20,7.12500,1.68000
14,Meksika,1.210,yüksek gelir,"130,759",9253,Kuzey Amerika,Top 20,5.74750,1.35520
15,Endonezya,1.070,yüksek gelir,"266,794",4010,Asya,Top 20,5.08250,1.19840
16,Hollanda,0.945,yüksek gelir,"17,084",55314,Avrupa,Top 20,4.48875,1.05840
17,Türkiye,0.910,yüksek gelir,"81,916",11108,Asya,Top 20,4.32250,1.01920
18,Suudi Arabistan,0.748,yüksek gelir,"33,554",22292,Asya,Top 20,3.55300,0.83776
19,İsviçre,0.741,yüksek gelir,"8,554",86626,Avrupa,Top 20,3.51975,0.82992

In [22]:
# yinelenen verileri saydırma / kategori sayısı
dunya["KITA"].value_counts()

KITA
Avrupa           8
Asya             7
Kuzey Amerika    3
Güney Amerika    1
Okyanusya        1
Name: count, dtype: int64

In [29]:
# virgülle yazılmış string nüfus sütunun sayıya dönüştürme:
# dunya["Nüfus"] = dunya["Nüfus"].str.replace(",","").astype("int")
dunya["Nüfus"].sum()
dunya["Nüfus"].mean()
dunya.groupby(["KITA"])["Nüfus"].sum()
dunya.groupby(["KITA"])["Nüfus"].mean()

KITA
Asya             475672.714286
Avrupa            54503.750000
Güney Amerika    210867.000000
Kuzey Amerika    163826.000000
Okyanusya         24772.000000
Name: Nüfus, dtype: float64

In [30]:
nufus=pd.read_csv("./datasets/dunyanufusu.csv")
nufus

,Sıralama,Ülke,Nüfüs,Yıllık değişim oranı,Yıllık değişim,Kişi/km2,km2,Göçmen,Doğum oranı,Ortalama yaş,Şehirleşme oranı,Dünya nüfus oranı
0,1.0,China,"1,415,045,928",0.39 %,"5,528,531",151,"9,388,211","-339,69",1.6,37.0,58 %,18.54 %
1,2.0,India,"1,354,051,854",1.11 %,"14,871,727",455,"2,973,190","-515,643",2.4,27.0,32 %,17.74 %
2,3.0,U.S.,"326,766,748",0.71 %,"2,307,285",36,"9,147,420",900,1.9,38.0,83 %,4.28 %
3,4.0,Indonesia,"266,794,980",1.06 %,"2,803,601",147,"1,811,570",-167,2.5,28.0,54 %,3.50 %
4,5.0,Brazil,"210,867,954",0.75 %,"1,579,676",25,"8,358,140","3,185",1.8,31.0,84 %,2.76 %
...,...,...,...,...,...,...,...,...,...,...,...,...
228,229.0,Saint Helena,"4,074",0.62 %,25,10,390,NaN,NaN,NaN,40 %,0.00 %
229,230.0,Falkland Islands,"2,922",0.41 %,12,0,"12,17",NaN,NaN,NaN,81 %,0.00 %
230,231.0,Niue,"1,624",0.37 %,6,6,260,NaN,NaN,NaN,33 %,0.00 %
231,232.0,Tokelau,"1,319",1.46 %,19,132,10,NaN,NaN,NaN,0 %,0.00 %
232,233.0,Holy See,801,1.14 %,9,"2,003",0,NaN,NaN,NaN,NaN,0.00 %

In [44]:
# tümü boşluk olan satırı siler
# nufus.dropna(how="all")


# # boşluk bulduğu satırı uçurur.
# nufus.dropna(how="any")


# # sadece belli sütundaki NA ları siler
nufus.dropna(subset=["Doğum oranı"])
nufus["Doğum oranı"].mean()
# nufus.dropna(subset=["Ortalama yaş"])
# nufus["Ortalama yaş"].mean()

2.8494949494949497

In [43]:
# silinen değer yerini doldurma
ort_ort_yas = nufus["Ortalama yaş"].mean()

nufus["Ortalama yaş"].fillna(ort_ort_yas)

0      37.000
1      27.000
2      38.000
3      28.000
4      31.000
        ...
228    29.365
229    29.365
230    29.365
231    29.365
232    29.365
Name: Ortalama yaş, Length: 233, dtype: float64

In [45]:
# inplace, kalıcı hale getirir.
nufus["Doğum oranı"].fillna(2.84, inplace=True)
nufus["Doğum oranı"]

0      1.60
1      2.40
2      1.90
3      2.50
4      1.80
       ...
228    2.84
229    2.84
230    2.84
231    2.84
232    2.84
Name: Doğum oranı, Length: 233, dtype: float64

In [47]:
#  tip değişimi, boşluk olmaması gerekiyor.
nufus["Sıralama"] = nufus["Sıralama"].fillna(1.0)
nufus
nufus["Sıralama"] = nufus["Sıralama"].astype("int")
nufus

,Sıralama,Ülke,Nüfüs,Yıllık değişim oranı,Yıllık değişim,Kişi/km2,km2,Göçmen,Doğum oranı,Ortalama yaş,Şehirleşme oranı,Dünya nüfus oranı
0,1,China,"1,415,045,928",0.39 %,"5,528,531",151,"9,388,211","-339,69",1.60,37.0,58 %,18.54 %
1,2,India,"1,354,051,854",1.11 %,"14,871,727",455,"2,973,190","-515,643",2.40,27.0,32 %,17.74 %
2,3,U.S.,"326,766,748",0.71 %,"2,307,285",36,"9,147,420",900,1.90,38.0,83 %,4.28 %
3,4,Indonesia,"266,794,980",1.06 %,"2,803,601",147,"1,811,570",-167,2.50,28.0,54 %,3.50 %
4,5,Brazil,"210,867,954",0.75 %,"1,579,676",25,"8,358,140","3,185",1.80,31.0,84 %,2.76 %
...,...,...,...,...,...,...,...,...,...,...,...,...
228,229,Saint Helena,"4,074",0.62 %,25,10,390,NaN,2.84,NaN,40 %,0.00 %
229,230,Falkland Islands,"2,922",0.41 %,12,0,"12,17",NaN,2.84,NaN,81 %,0.00 %
230,231,Niue,"1,624",0.37 %,6,6,260,NaN,2.84,NaN,33 %,0.00 %
231,232,Tokelau,"1,319",1.46 %,19,132,10,NaN,2.84,NaN,0 %,0.00 %
232,233,Holy See,801,1.14 %,9,"2,003",0,NaN,2.84,NaN,NaN,0.00 %

In [58]:
# Sıralama metotları
# nufus.sort_values("Ortalama yaş", ascending=True)
# çoklu sıralama
# nufus.sort_values(["Ortalama yaş", "km2"], ascending=[True, False])
nufus.sort_values(["Ortalama yaş", "Ülke"], ascending=[False, True])

# indekse göre
# nufus.sort_index(ascending=True)

,Sıralama,Ülke,Nüfüs,Yıllık değişim oranı,Yıllık değişim,Kişi/km2,km2,Göçmen,Doğum oranı,Ortalama yaş,Şehirleşme oranı,Dünya nüfus oranı
16,17,Germany,"82,293,457",0.22 %,"179,233",236,"348,56","355,425",1.40,46.0,76 %,1.08 %
22,23,Italy,"59,290,969",-0.12 %,"-68,931",202,"294,14","52,829",1.40,46.0,72 %,0.78 %
10,11,Japan,"127,185,332",-0.23 %,"-299,118",349,"364,555","71,627",1.40,46.0,94 %,1.67 %
177,178,Martinique,"385,065",0.04 %,169,363,"1,06","-3,354",2.00,44.0,94 %,0.01 %
87,88,Portugal,"10,291,196",-0.37 %,"-38,31",112,"91,59",-28,1.30,44.0,67 %,0.13 %
...,...,...,...,...,...,...,...,...,...,...,...,...
231,232,Tokelau,"1,319",1.46 %,19,132,10,NaN,2.84,NaN,0 %,0.00 %
215,216,Turks and Caicos,"35,963",1.46 %,517,38,950,NaN,2.84,NaN,91 %,0.00 %
225,226,Tuvalu,"11,287",0.85 %,95,376,30,NaN,2.84,NaN,54 %,0.00 %
223,224,Wallis & Futuna,"11,683",-0.76 %,-90,83,140,NaN,2.84,NaN,0 %,0.00 %
27,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.84,NaN,NaN,NaN

In [61]:
yeni_nufus = pd.read_csv("./datasets/dunyanufusu.csv").dropna(how="any")

# belli bir sütun kriterine göre kaçıncı sırada olduğunu yeni sütuna bastırma
yeni_nufus["Yaş Sıralama"] = yeni_nufus["Ortalama yaş"].rank(
    ascending=False).astype("int")
yeni_nufus["Doğum Sıralama"] = yeni_nufus["Doğum oranı"].rank(
    ascending=False).astype("int")
yeni_nufus["Sehir Sıralama"] = yeni_nufus["Şehirleşme oranı"].rank(
    ascending=False).astype("int")
yeni_nufus

,Sıralama,Ülke,Nüfüs,Yıllık değişim oranı,Yıllık değişim,Kişi/km2,km2,Göçmen,Doğum oranı,Ortalama yaş,Şehirleşme oranı,Dünya nüfus oranı,Yaş Sıralama,Doğum Sıralama,Sehir Sıralama
0,1.0,China,"1,415,045,928",0.39 %,"5,528,531",151,"9,388,211","-339,69",1.6,37.0,58 %,18.54 %,52,161,105
1,2.0,India,"1,354,051,854",1.11 %,"14,871,727",455,"2,973,190","-515,643",2.4,27.0,32 %,17.74 %,108,94,161
2,3.0,U.S.,"326,766,748",0.71 %,"2,307,285",36,"9,147,420",900,1.9,38.0,83 %,4.28 %,47,135,29
3,4.0,Indonesia,"266,794,980",1.06 %,"2,803,601",147,"1,811,570",-167,2.5,28.0,54 %,3.50 %,99,89,112
4,5.0,Brazil,"210,867,954",0.75 %,"1,579,676",25,"8,358,140","3,185",1.8,31.0,84 %,2.76 %,77,143,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,197.0,Micronesia,"106,227",0.65 %,683,152,700,"-1,638",3.3,22.0,23 %,0.00 %,140,59,179
197,198.0,Aruba,"105,67",0.39 %,406,587,180,251,1.8,40.0,41 %,0.00 %,36,143,136
198,199.0,U.S. Virgin Islands,"104,914",0.01 %,13,300,350,-900,2.3,41.0,97 %,0.00 %,26,101,3
199,200.0,Antigua and Barbuda,"103,05",1.02 %,"1,038",234,440,-11,2.1,31.0,21 %,0.00 %,77,115,182
200,201.0,Seychelles,"95,235",0.53 %,498,207,460,-440,2.4,35.0,54 %,0.00 %,61,94,112

## FİLTRELEME

In [62]:
df=pd.read_csv("./datasets/millitakim.csv")
df

,Numara,İsim,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
0,1,Harun Tekin,kaleci,17-6-1989,29,Bursa,"1,87 m",sağ ayak,2,NaN,2.5
1,23,Sinan Bolat,kaleci,3-9-1988,29,Royal FC,"1,88 m",sağ ayak,6,NaN,1.2
2,12,Serkan Kirintili,kaleci,15-2-1985,33,Konya,"1,86 m",sağ ayak,3,NaN,0.8
3,4,Caglar Söyüncü,stoper,23-5-1996,22,Sc Freiburg,"1,87 m",sağ ayak,16,1.0,18
4,22,Kaan Ayhan,stoper,10-11-1994,23,Düsseldorf,"1,85 m",sağ ayak,13,NaN,3
5,24,Ertugrul Ersoy,stoper,13-2-1997,21,Bursa,"1,87 m",sağ ayak,0,NaN,1.75
6,3,Hasan Ali Kaldirim,sol bek,9-12-1989,28,Fenerbahçe,"1,83 m",sol ayak,25,NaN,3.25
7,6,Ömer Bayram,sol bek,27-7-1991,26,Akhisar,"1,75 m",sol ayak,2,NaN,2
8,2,Sener Özbayrakli,sağ bek,23-1-1990,28,Fenerbahçe,"1,71 m",sağ ayak,17,NaN,2
9,13,Zeki Celik,sağ bek,17-2-1997,21,İstanbul,"1,80 m",sağ ayak,1,NaN,0.8
10,5,Okay Yokuslu,önlibero,9-3-1994,24,Trabzon,"1,91 m",sağ ayak,14,1.0,7.50
11,15,Mehmet Topal,önlibero,3-3-1986,32,Fenerbahçe,"1,87 m",cift ayakli,78,2.0,2.5
12,14,Mahmut Tekdemir,önlibero,20-1-1988,30,Başakşehir,"1,78 m",sağ ayak,5,NaN,2
13,25,Tarkan Serbest,önlibero,19-4-1994,24,Austria Vien,"1,84 m",sağ ayak,1,NaN,1.5
14,8,Oguzhan Özyakup,orta saha,23-9-1992,25,Beşiktaş,"1,80 m",sağ ayak,35,1.0,8
15,11,Yusuf Yazici,on numara,29-1-1997,21,Trabzon,"1,83 m",sol ayak,9,NaN,12
16,19,Yunus Malli,on numara,24-2-1992,26,Wolsburg,"1,79 m",sağ ayak,18,1.0,9
17,20,Emre Akbaba,on numara,4-10-1992,25,Alanya,"1,80 m",cift ayakli,5,1.0,5.5
18,16,Deniz Türüc,on numara,29-1-1993,25,Kayseri,"1,75 m",sol ayak,2,NaN,3.5
19,21,Irfan Can Kahveci,on numara,15-7-1995,22,Başakşehir,"1,76 m",sol ayak,4,NaN,2.5
20,27,Berkay Özcan,on numara,15-2-1998,20,Stuttgart,"1,80 m",sağ ayak,1,NaN,2.5
21,18,Kenan Karaman,sol kanat,5-3-1994,24,Hannover,"1,89 m",sağ ayak,3,NaN,1.5
22,17,Cengiz Ünder,sağ kanat,14-7-1997,20,Roma,"1,73 m",sol ayak,11,4.0,27
23,7,Serdar Gürler,sağ kanat,14-9-1991,26,Osmanlı,"1,75 m",sağ ayak,4,NaN,3.5
24,10,Umut Bulut,santrafor,15-3-1983,35,Kayseri,"1,84 m",sağ ayak,39,10.0,0.45

In [64]:
# Takıma göre filtreleme step 1
df["Takım"] == "Fenerbahçe"
# Takıma göre filtreleme step 2
takim = df["Takım"] == "Fenerbahçe"
df[takim]

,Numara,İsim,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
6,3,Hasan Ali Kaldirim,sol bek,9-12-1989,28,Fenerbahçe,"1,83 m",sol ayak,25,NaN,3.25
8,2,Sener Özbayrakli,sağ bek,23-1-1990,28,Fenerbahçe,"1,71 m",sağ ayak,17,NaN,2
11,15,Mehmet Topal,önlibero,3-3-1986,32,Fenerbahçe,"1,87 m",cift ayakli,78,2.0,2.5

In [69]:
df[df["Görev"] == "önlibero"]
# ya da
on = df["Görev"] == "önlibero"
df[on]

# çift kriter
df[takim | on]
df[~takim & on]

,Numara,İsim,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
10,5,Okay Yokuslu,önlibero,9-3-1994,24,Trabzon,"1,91 m",sağ ayak,14,1.0,7.50
12,14,Mahmut Tekdemir,önlibero,20-1-1988,30,Başakşehir,"1,78 m",sağ ayak,5,NaN,2
13,25,Tarkan Serbest,önlibero,19-4-1994,24,Austria Vien,"1,84 m",sağ ayak,1,NaN,1.5

In [71]:
yas = df["Yaş"] > 25
df[yas]
df[yas | on]
df[(yas | on) & takim]

,Numara,İsim,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
6,3,Hasan Ali Kaldirim,sol bek,9-12-1989,28,Fenerbahçe,"1,83 m",sol ayak,25,NaN,3.25
8,2,Sener Özbayrakli,sağ bek,23-1-1990,28,Fenerbahçe,"1,71 m",sağ ayak,17,NaN,2
11,15,Mehmet Topal,önlibero,3-3-1986,32,Fenerbahçe,"1,87 m",cift ayakli,78,2.0,2.5

In [74]:
# bunun içerisinde var mı? isin()
m = df["Takım"].isin(["Fenerbahçe", "Kayseri", "Beşiktaş"])
df[m]

,Numara,İsim,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
6,3,Hasan Ali Kaldirim,sol bek,9-12-1989,28,Fenerbahçe,"1,83 m",sol ayak,25,NaN,3.25
8,2,Sener Özbayrakli,sağ bek,23-1-1990,28,Fenerbahçe,"1,71 m",sağ ayak,17,NaN,2
11,15,Mehmet Topal,önlibero,3-3-1986,32,Fenerbahçe,"1,87 m",cift ayakli,78,2.0,2.5
14,8,Oguzhan Özyakup,orta saha,23-9-1992,25,Beşiktaş,"1,80 m",sağ ayak,35,1.0,8
18,16,Deniz Türüc,on numara,29-1-1993,25,Kayseri,"1,75 m",sol ayak,2,NaN,3.5
24,10,Umut Bulut,santrafor,15-3-1983,35,Kayseri,"1,84 m",sağ ayak,39,10.0,0.45

In [77]:
# null olan değerleri bulmak için
null = df["Gol"].isnull()
# gol atamayanlar :)
df[~null]
df[null]

,Numara,İsim,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
0,1,Harun Tekin,kaleci,17-6-1989,29,Bursa,"1,87 m",sağ ayak,2,NaN,2.5
1,23,Sinan Bolat,kaleci,3-9-1988,29,Royal FC,"1,88 m",sağ ayak,6,NaN,1.2
2,12,Serkan Kirintili,kaleci,15-2-1985,33,Konya,"1,86 m",sağ ayak,3,NaN,0.8
4,22,Kaan Ayhan,stoper,10-11-1994,23,Düsseldorf,"1,85 m",sağ ayak,13,NaN,3
5,24,Ertugrul Ersoy,stoper,13-2-1997,21,Bursa,"1,87 m",sağ ayak,0,NaN,1.75
6,3,Hasan Ali Kaldirim,sol bek,9-12-1989,28,Fenerbahçe,"1,83 m",sol ayak,25,NaN,3.25
7,6,Ömer Bayram,sol bek,27-7-1991,26,Akhisar,"1,75 m",sol ayak,2,NaN,2
8,2,Sener Özbayrakli,sağ bek,23-1-1990,28,Fenerbahçe,"1,71 m",sağ ayak,17,NaN,2
9,13,Zeki Celik,sağ bek,17-2-1997,21,İstanbul,"1,80 m",sağ ayak,1,NaN,0.8
12,14,Mahmut Tekdemir,önlibero,20-1-1988,30,Başakşehir,"1,78 m",sağ ayak,5,NaN,2
13,25,Tarkan Serbest,önlibero,19-4-1994,24,Austria Vien,"1,84 m",sağ ayak,1,NaN,1.5
15,11,Yusuf Yazici,on numara,29-1-1997,21,Trabzon,"1,83 m",sol ayak,9,NaN,12
18,16,Deniz Türüc,on numara,29-1-1993,25,Kayseri,"1,75 m",sol ayak,2,NaN,3.5
19,21,Irfan Can Kahveci,on numara,15-7-1995,22,Başakşehir,"1,76 m",sol ayak,4,NaN,2.5
20,27,Berkay Özcan,on numara,15-2-1998,20,Stuttgart,"1,80 m",sağ ayak,1,NaN,2.5
21,18,Kenan Karaman,sol kanat,5-3-1994,24,Hannover,"1,89 m",sağ ayak,3,NaN,1.5
23,7,Serdar Gürler,sağ kanat,14-9-1991,26,Osmanlı,"1,75 m",sağ ayak,4,NaN,3.5

In [78]:
# null olmayan değerleri bulmak için
full = df["Gol"].notnull()
# gol atamayanlar :)
df[full]

,Numara,İsim,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
3,4,Caglar Söyüncü,stoper,23-5-1996,22,Sc Freiburg,"1,87 m",sağ ayak,16,1.0,18
10,5,Okay Yokuslu,önlibero,9-3-1994,24,Trabzon,"1,91 m",sağ ayak,14,1.0,7.50
11,15,Mehmet Topal,önlibero,3-3-1986,32,Fenerbahçe,"1,87 m",cift ayakli,78,2.0,2.5
14,8,Oguzhan Özyakup,orta saha,23-9-1992,25,Beşiktaş,"1,80 m",sağ ayak,35,1.0,8
16,19,Yunus Malli,on numara,24-2-1992,26,Wolsburg,"1,79 m",sağ ayak,18,1.0,9
17,20,Emre Akbaba,on numara,4-10-1992,25,Alanya,"1,80 m",cift ayakli,5,1.0,5.5
22,17,Cengiz Ünder,sağ kanat,14-7-1997,20,Roma,"1,73 m",sol ayak,11,4.0,27
24,10,Umut Bulut,santrafor,15-3-1983,35,Kayseri,"1,84 m",sağ ayak,39,10.0,0.45

## DUPLICATE VE BENZERSİZ BULMA

In [3]:
mf = pd.read_csv("./datasets/millitakim.csv")
mf["Milyon Euro"] = mf["Milyon Euro"].astype("float")
mf

,Numara,İsim,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
0,1,Harun Tekin,kaleci,17-6-1989,29,Bursa,"1,87 m",sağ ayak,2,NaN,2.50
1,23,Sinan Bolat,kaleci,3-9-1988,29,Royal FC,"1,88 m",sağ ayak,6,NaN,1.20
2,12,Serkan Kirintili,kaleci,15-2-1985,33,Konya,"1,86 m",sağ ayak,3,NaN,0.80
3,4,Caglar Söyüncü,stoper,23-5-1996,22,Sc Freiburg,"1,87 m",sağ ayak,16,1.0,18.00
4,22,Kaan Ayhan,stoper,10-11-1994,23,Düsseldorf,"1,85 m",sağ ayak,13,NaN,3.00
5,24,Ertugrul Ersoy,stoper,13-2-1997,21,Bursa,"1,87 m",sağ ayak,0,NaN,1.75
6,3,Hasan Ali Kaldirim,sol bek,9-12-1989,28,Fenerbahçe,"1,83 m",sol ayak,25,NaN,3.25
7,6,Ömer Bayram,sol bek,27-7-1991,26,Akhisar,"1,75 m",sol ayak,2,NaN,2.00
8,2,Sener Özbayrakli,sağ bek,23-1-1990,28,Fenerbahçe,"1,71 m",sağ ayak,17,NaN,2.00
9,13,Zeki Celik,sağ bek,17-2-1997,21,İstanbul,"1,80 m",sağ ayak,1,NaN,0.80
10,5,Okay Yokuslu,önlibero,9-3-1994,24,Trabzon,"1,91 m",sağ ayak,14,1.0,7.50
11,15,Mehmet Topal,önlibero,3-3-1986,32,Fenerbahçe,"1,87 m",cift ayakli,78,2.0,2.50
12,14,Mahmut Tekdemir,önlibero,20-1-1988,30,Başakşehir,"1,78 m",sağ ayak,5,NaN,2.00
13,25,Tarkan Serbest,önlibero,19-4-1994,24,Austria Vien,"1,84 m",sağ ayak,1,NaN,1.50
14,8,Oguzhan Özyakup,orta saha,23-9-1992,25,Beşiktaş,"1,80 m",sağ ayak,35,1.0,8.00
15,11,Yusuf Yazici,on numara,29-1-1997,21,Trabzon,"1,83 m",sol ayak,9,NaN,12.00
16,19,Yunus Malli,on numara,24-2-1992,26,Wolsburg,"1,79 m",sağ ayak,18,1.0,9.00
17,20,Emre Akbaba,on numara,4-10-1992,25,Alanya,"1,80 m",cift ayakli,5,1.0,5.50
18,16,Deniz Türüc,on numara,29-1-1993,25,Kayseri,"1,75 m",sol ayak,2,NaN,3.50
19,21,Irfan Can Kahveci,on numara,15-7-1995,22,Başakşehir,"1,76 m",sol ayak,4,NaN,2.50
20,27,Berkay Özcan,on numara,15-2-1998,20,Stuttgart,"1,80 m",sağ ayak,1,NaN,2.50
21,18,Kenan Karaman,sol kanat,5-3-1994,24,Hannover,"1,89 m",sağ ayak,3,NaN,1.50
22,17,Cengiz Ünder,sağ kanat,14-7-1997,20,Roma,"1,73 m",sol ayak,11,4.0,27.00
23,7,Serdar Gürler,sağ kanat,14-9-1991,26,Osmanlı,"1,75 m",sağ ayak,4,NaN,3.50
24,10,Umut Bulut,santrafor,15-3-1983,35,Kayseri,"1,84 m",sağ ayak,39,10.0,0.45

In [4]:
# belli bir aralıktaki değerleri bulma: between(inc,inc)
yas_araligi = mf["Yaş"].between(25, 30)
mf[yas_araligi]

,Numara,İsim,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
0,1,Harun Tekin,kaleci,17-6-1989,29,Bursa,"1,87 m",sağ ayak,2,NaN,2.50
1,23,Sinan Bolat,kaleci,3-9-1988,29,Royal FC,"1,88 m",sağ ayak,6,NaN,1.20
6,3,Hasan Ali Kaldirim,sol bek,9-12-1989,28,Fenerbahçe,"1,83 m",sol ayak,25,NaN,3.25
7,6,Ömer Bayram,sol bek,27-7-1991,26,Akhisar,"1,75 m",sol ayak,2,NaN,2.00
8,2,Sener Özbayrakli,sağ bek,23-1-1990,28,Fenerbahçe,"1,71 m",sağ ayak,17,NaN,2.00
12,14,Mahmut Tekdemir,önlibero,20-1-1988,30,Başakşehir,"1,78 m",sağ ayak,5,NaN,2.00
14,8,Oguzhan Özyakup,orta saha,23-9-1992,25,Beşiktaş,"1,80 m",sağ ayak,35,1.0,8.00
16,19,Yunus Malli,on numara,24-2-1992,26,Wolsburg,"1,79 m",sağ ayak,18,1.0,9.00
17,20,Emre Akbaba,on numara,4-10-1992,25,Alanya,"1,80 m",cift ayakli,5,1.0,5.50
18,16,Deniz Türüc,on numara,29-1-1993,25,Kayseri,"1,75 m",sol ayak,2,NaN,3.50
23,7,Serdar Gürler,sağ kanat,14-9-1991,26,Osmanlı,"1,75 m",sağ ayak,4,NaN,3.50

In [5]:
deger_araligi = mf["Milyon Euro"].between(5.0, 20.0)
mf[deger_araligi]

,Numara,İsim,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
3,4,Caglar Söyüncü,stoper,23-5-1996,22,Sc Freiburg,"1,87 m",sağ ayak,16,1.0,18.0
10,5,Okay Yokuslu,önlibero,9-3-1994,24,Trabzon,"1,91 m",sağ ayak,14,1.0,7.5
14,8,Oguzhan Özyakup,orta saha,23-9-1992,25,Beşiktaş,"1,80 m",sağ ayak,35,1.0,8.0
15,11,Yusuf Yazici,on numara,29-1-1997,21,Trabzon,"1,83 m",sol ayak,9,NaN,12.0
16,19,Yunus Malli,on numara,24-2-1992,26,Wolsburg,"1,79 m",sağ ayak,18,1.0,9.0
17,20,Emre Akbaba,on numara,4-10-1992,25,Alanya,"1,80 m",cift ayakli,5,1.0,5.5

In [6]:
numara_araligi = mf["Numara"].between(5, 10)
mf[numara_araligi]

,Numara,İsim,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
7,6,Ömer Bayram,sol bek,27-7-1991,26,Akhisar,"1,75 m",sol ayak,2,NaN,2.00
10,5,Okay Yokuslu,önlibero,9-3-1994,24,Trabzon,"1,91 m",sağ ayak,14,1.0,7.50
14,8,Oguzhan Özyakup,orta saha,23-9-1992,25,Beşiktaş,"1,80 m",sağ ayak,35,1.0,8.00
23,7,Serdar Gürler,sağ kanat,14-9-1991,26,Osmanlı,"1,75 m",sağ ayak,4,NaN,3.50
24,10,Umut Bulut,santrafor,15-3-1983,35,Kayseri,"1,84 m",sağ ayak,39,10.0,0.45

In [9]:
mf

,Numara,İsim,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
0,1,Harun Tekin,kaleci,17-6-1989,29,Bursa,"1,87 m",sağ ayak,2,NaN,2.50
1,23,Sinan Bolat,kaleci,3-9-1988,29,Royal FC,"1,88 m",sağ ayak,6,NaN,1.20
2,12,Serkan Kirintili,kaleci,15-2-1985,33,Konya,"1,86 m",sağ ayak,3,NaN,0.80
3,4,Caglar Söyüncü,stoper,23-5-1996,22,Sc Freiburg,"1,87 m",sağ ayak,16,1.0,18.00
4,22,Kaan Ayhan,stoper,10-11-1994,23,Düsseldorf,"1,85 m",sağ ayak,13,NaN,3.00
5,24,Ertugrul Ersoy,stoper,13-2-1997,21,Bursa,"1,87 m",sağ ayak,0,NaN,1.75
6,3,Hasan Ali Kaldirim,sol bek,9-12-1989,28,Fenerbahçe,"1,83 m",sol ayak,25,NaN,3.25
7,6,Ömer Bayram,sol bek,27-7-1991,26,Akhisar,"1,75 m",sol ayak,2,NaN,2.00
8,2,Sener Özbayrakli,sağ bek,23-1-1990,28,Fenerbahçe,"1,71 m",sağ ayak,17,NaN,2.00
9,13,Zeki Celik,sağ bek,17-2-1997,21,İstanbul,"1,80 m",sağ ayak,1,NaN,0.80
10,5,Okay Yokuslu,önlibero,9-3-1994,24,Trabzon,"1,91 m",sağ ayak,14,1.0,7.50
11,15,Mehmet Topal,önlibero,3-3-1986,32,Fenerbahçe,"1,87 m",cift ayakli,78,2.0,2.50
12,14,Mahmut Tekdemir,önlibero,20-1-1988,30,Başakşehir,"1,78 m",sağ ayak,5,NaN,2.00
13,25,Tarkan Serbest,önlibero,19-4-1994,24,Austria Vien,"1,84 m",sağ ayak,1,NaN,1.50
14,8,Oguzhan Özyakup,orta saha,23-9-1992,25,Beşiktaş,"1,80 m",sağ ayak,35,1.0,8.00
15,11,Yusuf Yazici,on numara,29-1-1997,21,Trabzon,"1,83 m",sol ayak,9,NaN,12.00
16,19,Yunus Malli,on numara,24-2-1992,26,Wolsburg,"1,79 m",sağ ayak,18,1.0,9.00
17,20,Emre Akbaba,on numara,4-10-1992,25,Alanya,"1,80 m",cift ayakli,5,1.0,5.50
18,16,Deniz Türüc,on numara,29-1-1993,25,Kayseri,"1,75 m",sol ayak,2,NaN,3.50
19,21,Irfan Can Kahveci,on numara,15-7-1995,22,Başakşehir,"1,76 m",sol ayak,4,NaN,2.50
20,27,Berkay Özcan,on numara,15-2-1998,20,Stuttgart,"1,80 m",sağ ayak,1,NaN,2.50
21,18,Kenan Karaman,sol kanat,5-3-1994,24,Hannover,"1,89 m",sağ ayak,3,NaN,1.50
22,17,Cengiz Ünder,sağ kanat,14-7-1997,20,Roma,"1,73 m",sol ayak,11,4.0,27.00
23,7,Serdar Gürler,sağ kanat,14-9-1991,26,Osmanlı,"1,75 m",sağ ayak,4,NaN,3.50
24,10,Umut Bulut,santrafor,15-3-1983,35,Kayseri,"1,84 m",sağ ayak,39,10.0,0.45

In [10]:
mf["Görev"].duplicated()
mukerrer_gorev = mf["Görev"].duplicated()
# ilkini atar!
mf[mukerrer_gorev]

,Numara,İsim,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
1,23,Sinan Bolat,kaleci,3-9-1988,29,Royal FC,"1,88 m",sağ ayak,6,NaN,1.20
2,12,Serkan Kirintili,kaleci,15-2-1985,33,Konya,"1,86 m",sağ ayak,3,NaN,0.80
4,22,Kaan Ayhan,stoper,10-11-1994,23,Düsseldorf,"1,85 m",sağ ayak,13,NaN,3.00
5,24,Ertugrul Ersoy,stoper,13-2-1997,21,Bursa,"1,87 m",sağ ayak,0,NaN,1.75
7,6,Ömer Bayram,sol bek,27-7-1991,26,Akhisar,"1,75 m",sol ayak,2,NaN,2.00
9,13,Zeki Celik,sağ bek,17-2-1997,21,İstanbul,"1,80 m",sağ ayak,1,NaN,0.80
11,15,Mehmet Topal,önlibero,3-3-1986,32,Fenerbahçe,"1,87 m",cift ayakli,78,2.0,2.50
12,14,Mahmut Tekdemir,önlibero,20-1-1988,30,Başakşehir,"1,78 m",sağ ayak,5,NaN,2.00
13,25,Tarkan Serbest,önlibero,19-4-1994,24,Austria Vien,"1,84 m",sağ ayak,1,NaN,1.50
16,19,Yunus Malli,on numara,24-2-1992,26,Wolsburg,"1,79 m",sağ ayak,18,1.0,9.00
17,20,Emre Akbaba,on numara,4-10-1992,25,Alanya,"1,80 m",cift ayakli,5,1.0,5.50
18,16,Deniz Türüc,on numara,29-1-1993,25,Kayseri,"1,75 m",sol ayak,2,NaN,3.50
19,21,Irfan Can Kahveci,on numara,15-7-1995,22,Başakşehir,"1,76 m",sol ayak,4,NaN,2.50
20,27,Berkay Özcan,on numara,15-2-1998,20,Stuttgart,"1,80 m",sağ ayak,1,NaN,2.50
23,7,Serdar Gürler,sağ kanat,14-9-1991,26,Osmanlı,"1,75 m",sağ ayak,4,NaN,3.50

In [11]:
# tekrarlayanı atar, her birinden bir tane kalır!
mf.drop_duplicates(subset="Görev")

,Numara,İsim,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
0,1,Harun Tekin,kaleci,17-6-1989,29,Bursa,"1,87 m",sağ ayak,2,NaN,2.50
3,4,Caglar Söyüncü,stoper,23-5-1996,22,Sc Freiburg,"1,87 m",sağ ayak,16,1.0,18.00
6,3,Hasan Ali Kaldirim,sol bek,9-12-1989,28,Fenerbahçe,"1,83 m",sol ayak,25,NaN,3.25
8,2,Sener Özbayrakli,sağ bek,23-1-1990,28,Fenerbahçe,"1,71 m",sağ ayak,17,NaN,2.00
10,5,Okay Yokuslu,önlibero,9-3-1994,24,Trabzon,"1,91 m",sağ ayak,14,1.0,7.50
14,8,Oguzhan Özyakup,orta saha,23-9-1992,25,Beşiktaş,"1,80 m",sağ ayak,35,1.0,8.00
15,11,Yusuf Yazici,on numara,29-1-1997,21,Trabzon,"1,83 m",sol ayak,9,NaN,12.00
21,18,Kenan Karaman,sol kanat,5-3-1994,24,Hannover,"1,89 m",sağ ayak,3,NaN,1.50
22,17,Cengiz Ünder,sağ kanat,14-7-1997,20,Roma,"1,73 m",sol ayak,11,4.0,27.00
24,10,Umut Bulut,santrafor,15-3-1983,35,Kayseri,"1,84 m",sağ ayak,39,10.0,0.45

In [13]:
# benzersiz listesi
mf["Görev"].unique()

# benzersiz sayısı
mf["Görev"].nunique()

10

SETINDEX, LOC, ILOC (iloc)

In [14]:
mt = pd.read_csv("./datasets/millitakim.csv")

# indeksi değiştirme, bir sütunu index yapma:
mt.set_index("İsim", inplace=True)
mt

,Numara,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
İsim,,,,,,,,,,
Harun Tekin,1,kaleci,17-6-1989,29,Bursa,"1,87 m",sağ ayak,2,NaN,2.5
Sinan Bolat,23,kaleci,3-9-1988,29,Royal FC,"1,88 m",sağ ayak,6,NaN,1.2
Serkan Kirintili,12,kaleci,15-2-1985,33,Konya,"1,86 m",sağ ayak,3,NaN,0.8
Caglar Söyüncü,4,stoper,23-5-1996,22,Sc Freiburg,"1,87 m",sağ ayak,16,1.0,18
Kaan Ayhan,22,stoper,10-11-1994,23,Düsseldorf,"1,85 m",sağ ayak,13,NaN,3
Ertugrul Ersoy,24,stoper,13-2-1997,21,Bursa,"1,87 m",sağ ayak,0,NaN,1.75
Hasan Ali Kaldirim,3,sol bek,9-12-1989,28,Fenerbahçe,"1,83 m",sol ayak,25,NaN,3.25
Ömer Bayram,6,sol bek,27-7-1991,26,Akhisar,"1,75 m",sol ayak,2,NaN,2
Sener Özbayrakli,2,sağ bek,23-1-1990,28,Fenerbahçe,"1,71 m",sağ ayak,17,NaN,2
Zeki Celik,13,sağ bek,17-2-1997,21,İstanbul,"1,80 m",sağ ayak,1,NaN,0.8
Okay Yokuslu,5,önlibero,9-3-1994,24,Trabzon,"1,91 m",sağ ayak,14,1.0,7.50
Mehmet Topal,15,önlibero,3-3-1986,32,Fenerbahçe,"1,87 m",cift ayakli,78,2.0,2.5
Mahmut Tekdemir,14,önlibero,20-1-1988,30,Başakşehir,"1,78 m",sağ ayak,5,NaN,2
Tarkan Serbest,25,önlibero,19-4-1994,24,Austria Vien,"1,84 m",sağ ayak,1,NaN,1.5
Oguzhan Özyakup,8,orta saha,23-9-1992,25,Beşiktaş,"1,80 m",sağ ayak,35,1.0,8
Yusuf Yazici,11,on numara,29-1-1997,21,Trabzon,"1,83 m",sol ayak,9,NaN,12
Yunus Malli,19,on numara,24-2-1992,26,Wolsburg,"1,79 m",sağ ayak,18,1.0,9
Emre Akbaba,20,on numara,4-10-1992,25,Alanya,"1,80 m",cift ayakli,5,1.0,5.5
Deniz Türüc,16,on numara,29-1-1993,25,Kayseri,"1,75 m",sol ayak,2,NaN,3.5
Irfan Can Kahveci,21,on numara,15-7-1995,22,Başakşehir,"1,76 m",sol ayak,4,NaN,2.5
Berkay Özcan,27,on numara,15-2-1998,20,Stuttgart,"1,80 m",sağ ayak,1,NaN,2.5
Kenan Karaman,18,sol kanat,5-3-1994,24,Hannover,"1,89 m",sağ ayak,3,NaN,1.5
Cengiz Ünder,17,sağ kanat,14-7-1997,20,Roma,"1,73 m",sol ayak,11,4.0,27
Serdar Gürler,7,sağ kanat,14-9-1991,26,Osmanlı,"1,75 m",sağ ayak,4,NaN,3.5
Umut Bulut,10,santrafor,15-3-1983,35,Kayseri,"1,84 m",sağ ayak,39,10.0,0.45

In [15]:
# indexi resetleme, eskisine döndürme
mt.reset_index(inplace=True)
mt

,İsim,Numara,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
0,Harun Tekin,1,kaleci,17-6-1989,29,Bursa,"1,87 m",sağ ayak,2,NaN,2.5
1,Sinan Bolat,23,kaleci,3-9-1988,29,Royal FC,"1,88 m",sağ ayak,6,NaN,1.2
2,Serkan Kirintili,12,kaleci,15-2-1985,33,Konya,"1,86 m",sağ ayak,3,NaN,0.8
3,Caglar Söyüncü,4,stoper,23-5-1996,22,Sc Freiburg,"1,87 m",sağ ayak,16,1.0,18
4,Kaan Ayhan,22,stoper,10-11-1994,23,Düsseldorf,"1,85 m",sağ ayak,13,NaN,3
5,Ertugrul Ersoy,24,stoper,13-2-1997,21,Bursa,"1,87 m",sağ ayak,0,NaN,1.75
6,Hasan Ali Kaldirim,3,sol bek,9-12-1989,28,Fenerbahçe,"1,83 m",sol ayak,25,NaN,3.25
7,Ömer Bayram,6,sol bek,27-7-1991,26,Akhisar,"1,75 m",sol ayak,2,NaN,2
8,Sener Özbayrakli,2,sağ bek,23-1-1990,28,Fenerbahçe,"1,71 m",sağ ayak,17,NaN,2
9,Zeki Celik,13,sağ bek,17-2-1997,21,İstanbul,"1,80 m",sağ ayak,1,NaN,0.8
10,Okay Yokuslu,5,önlibero,9-3-1994,24,Trabzon,"1,91 m",sağ ayak,14,1.0,7.50
11,Mehmet Topal,15,önlibero,3-3-1986,32,Fenerbahçe,"1,87 m",cift ayakli,78,2.0,2.5
12,Mahmut Tekdemir,14,önlibero,20-1-1988,30,Başakşehir,"1,78 m",sağ ayak,5,NaN,2
13,Tarkan Serbest,25,önlibero,19-4-1994,24,Austria Vien,"1,84 m",sağ ayak,1,NaN,1.5
14,Oguzhan Özyakup,8,orta saha,23-9-1992,25,Beşiktaş,"1,80 m",sağ ayak,35,1.0,8
15,Yusuf Yazici,11,on numara,29-1-1997,21,Trabzon,"1,83 m",sol ayak,9,NaN,12
16,Yunus Malli,19,on numara,24-2-1992,26,Wolsburg,"1,79 m",sağ ayak,18,1.0,9
17,Emre Akbaba,20,on numara,4-10-1992,25,Alanya,"1,80 m",cift ayakli,5,1.0,5.5
18,Deniz Türüc,16,on numara,29-1-1993,25,Kayseri,"1,75 m",sol ayak,2,NaN,3.5
19,Irfan Can Kahveci,21,on numara,15-7-1995,22,Başakşehir,"1,76 m",sol ayak,4,NaN,2.5
20,Berkay Özcan,27,on numara,15-2-1998,20,Stuttgart,"1,80 m",sağ ayak,1,NaN,2.5
21,Kenan Karaman,18,sol kanat,5-3-1994,24,Hannover,"1,89 m",sağ ayak,3,NaN,1.5
22,Cengiz Ünder,17,sağ kanat,14-7-1997,20,Roma,"1,73 m",sol ayak,11,4.0,27
23,Serdar Gürler,7,sağ kanat,14-9-1991,26,Osmanlı,"1,75 m",sağ ayak,4,NaN,3.5
24,Umut Bulut,10,santrafor,15-3-1983,35,Kayseri,"1,84 m",sağ ayak,39,10.0,0.45

In [23]:
#  loc: getting value by index
miltak = pd.read_csv("./datasets/millitakim.csv", index_col="Numara")
miltak.loc[3]
miltak.loc[22]

İsim            Kaan Ayhan
Görev               stoper
Doğum Tarihi    10-11-1994
Yaş                     23
Takım           Düsseldorf
Boy                 1,85 m
Ayak              sağ ayak
Maç                     13
Gol                    NaN
Milyon Euro              3
Name: 22, dtype: object

In [25]:
miltak.set_index("İsim", inplace=True)
miltak

,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
İsim,,,,,,,,,
Harun Tekin,kaleci,17-6-1989,29,Bursa,"1,87 m",sağ ayak,2,NaN,2.5
Sinan Bolat,kaleci,3-9-1988,29,Royal FC,"1,88 m",sağ ayak,6,NaN,1.2
Serkan Kirintili,kaleci,15-2-1985,33,Konya,"1,86 m",sağ ayak,3,NaN,0.8
Caglar Söyüncü,stoper,23-5-1996,22,Sc Freiburg,"1,87 m",sağ ayak,16,1.0,18
Kaan Ayhan,stoper,10-11-1994,23,Düsseldorf,"1,85 m",sağ ayak,13,NaN,3
Ertugrul Ersoy,stoper,13-2-1997,21,Bursa,"1,87 m",sağ ayak,0,NaN,1.75
Hasan Ali Kaldirim,sol bek,9-12-1989,28,Fenerbahçe,"1,83 m",sol ayak,25,NaN,3.25
Ömer Bayram,sol bek,27-7-1991,26,Akhisar,"1,75 m",sol ayak,2,NaN,2
Sener Özbayrakli,sağ bek,23-1-1990,28,Fenerbahçe,"1,71 m",sağ ayak,17,NaN,2
Zeki Celik,sağ bek,17-2-1997,21,İstanbul,"1,80 m",sağ ayak,1,NaN,0.8
Okay Yokuslu,önlibero,9-3-1994,24,Trabzon,"1,91 m",sağ ayak,14,1.0,7.50
Mehmet Topal,önlibero,3-3-1986,32,Fenerbahçe,"1,87 m",cift ayakli,78,2.0,2.5
Mahmut Tekdemir,önlibero,20-1-1988,30,Başakşehir,"1,78 m",sağ ayak,5,NaN,2
Tarkan Serbest,önlibero,19-4-1994,24,Austria Vien,"1,84 m",sağ ayak,1,NaN,1.5
Oguzhan Özyakup,orta saha,23-9-1992,25,Beşiktaş,"1,80 m",sağ ayak,35,1.0,8
Yusuf Yazici,on numara,29-1-1997,21,Trabzon,"1,83 m",sol ayak,9,NaN,12
Yunus Malli,on numara,24-2-1992,26,Wolsburg,"1,79 m",sağ ayak,18,1.0,9
Emre Akbaba,on numara,4-10-1992,25,Alanya,"1,80 m",cift ayakli,5,1.0,5.5
Deniz Türüc,on numara,29-1-1993,25,Kayseri,"1,75 m",sol ayak,2,NaN,3.5
Irfan Can Kahveci,on numara,15-7-1995,22,Başakşehir,"1,76 m",sol ayak,4,NaN,2.5
Berkay Özcan,on numara,15-2-1998,20,Stuttgart,"1,80 m",sağ ayak,1,NaN,2.5
Kenan Karaman,sol kanat,5-3-1994,24,Hannover,"1,89 m",sağ ayak,3,NaN,1.5
Cengiz Ünder,sağ kanat,14-7-1997,20,Roma,"1,73 m",sol ayak,11,4.0,27
Serdar Gürler,sağ kanat,14-9-1991,26,Osmanlı,"1,75 m",sağ ayak,4,NaN,3.5
Umut Bulut,santrafor,15-3-1983,35,Kayseri,"1,84 m",sağ ayak,39,10.0,0.45

In [27]:
miltak.loc["Harun Tekin":"Zeki Celik"]

,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
İsim,,,,,,,,,
Harun Tekin,kaleci,17-6-1989,29,Bursa,"1,87 m",sağ ayak,2,NaN,2.5
Sinan Bolat,kaleci,3-9-1988,29,Royal FC,"1,88 m",sağ ayak,6,NaN,1.2
Serkan Kirintili,kaleci,15-2-1985,33,Konya,"1,86 m",sağ ayak,3,NaN,0.8
Caglar Söyüncü,stoper,23-5-1996,22,Sc Freiburg,"1,87 m",sağ ayak,16,1.0,18
Kaan Ayhan,stoper,10-11-1994,23,Düsseldorf,"1,85 m",sağ ayak,13,NaN,3
Ertugrul Ersoy,stoper,13-2-1997,21,Bursa,"1,87 m",sağ ayak,0,NaN,1.75
Hasan Ali Kaldirim,sol bek,9-12-1989,28,Fenerbahçe,"1,83 m",sol ayak,25,NaN,3.25
Ömer Bayram,sol bek,27-7-1991,26,Akhisar,"1,75 m",sol ayak,2,NaN,2
Sener Özbayrakli,sağ bek,23-1-1990,28,Fenerbahçe,"1,71 m",sağ ayak,17,NaN,2
Zeki Celik,sağ bek,17-2-1997,21,İstanbul,"1,80 m",sağ ayak,1,NaN,0.8

In [35]:
# getting values like getting in numpy arrays:
miltak.iloc[0:5]
miltak.iloc[0]
# getting cell value
miltak.iloc[0, 3]
# getting column
miltak.iloc[:, 3]

İsim
Harun Tekin                  Bursa
Sinan Bolat               Royal FC
Serkan Kirintili             Konya
Caglar Söyüncü         Sc Freiburg
Kaan Ayhan              Düsseldorf
Ertugrul Ersoy               Bursa
Hasan Ali Kaldirim      Fenerbahçe
Ömer Bayram                Akhisar
Sener Özbayrakli        Fenerbahçe
Zeki Celik                İstanbul
Okay Yokuslu               Trabzon
Mehmet Topal            Fenerbahçe
Mahmut Tekdemir         Başakşehir
Tarkan Serbest        Austria Vien
Oguzhan Özyakup           Beşiktaş
Yusuf Yazici               Trabzon
Yunus Malli               Wolsburg
Emre Akbaba                 Alanya
Deniz Türüc                Kayseri
Irfan Can Kahveci       Başakşehir
Berkay Özcan             Stuttgart
Kenan Karaman             Hannover
Cengiz Ünder                  Roma
Serdar Gürler             Osmanlı
Umut Bulut                 Kayseri
Name: Takım, dtype: object

YENİ DEĞER ATAMA

In [36]:
milli_takim = pd.read_csv("./datasets/millitakim.csv", index_col="İsim")
milli_takim

,Numara,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
İsim,,,,,,,,,,
Harun Tekin,1,kaleci,17-6-1989,29,Bursa,"1,87 m",sağ ayak,2,NaN,2.5
Sinan Bolat,23,kaleci,3-9-1988,29,Royal FC,"1,88 m",sağ ayak,6,NaN,1.2
Serkan Kirintili,12,kaleci,15-2-1985,33,Konya,"1,86 m",sağ ayak,3,NaN,0.8
Caglar Söyüncü,4,stoper,23-5-1996,22,Sc Freiburg,"1,87 m",sağ ayak,16,1.0,18
Kaan Ayhan,22,stoper,10-11-1994,23,Düsseldorf,"1,85 m",sağ ayak,13,NaN,3
Ertugrul Ersoy,24,stoper,13-2-1997,21,Bursa,"1,87 m",sağ ayak,0,NaN,1.75
Hasan Ali Kaldirim,3,sol bek,9-12-1989,28,Fenerbahçe,"1,83 m",sol ayak,25,NaN,3.25
Ömer Bayram,6,sol bek,27-7-1991,26,Akhisar,"1,75 m",sol ayak,2,NaN,2
Sener Özbayrakli,2,sağ bek,23-1-1990,28,Fenerbahçe,"1,71 m",sağ ayak,17,NaN,2
Zeki Celik,13,sağ bek,17-2-1997,21,İstanbul,"1,80 m",sağ ayak,1,NaN,0.8
Okay Yokuslu,5,önlibero,9-3-1994,24,Trabzon,"1,91 m",sağ ayak,14,1.0,7.50
Mehmet Topal,15,önlibero,3-3-1986,32,Fenerbahçe,"1,87 m",cift ayakli,78,2.0,2.5
Mahmut Tekdemir,14,önlibero,20-1-1988,30,Başakşehir,"1,78 m",sağ ayak,5,NaN,2
Tarkan Serbest,25,önlibero,19-4-1994,24,Austria Vien,"1,84 m",sağ ayak,1,NaN,1.5
Oguzhan Özyakup,8,orta saha,23-9-1992,25,Beşiktaş,"1,80 m",sağ ayak,35,1.0,8
Yusuf Yazici,11,on numara,29-1-1997,21,Trabzon,"1,83 m",sol ayak,9,NaN,12
Yunus Malli,19,on numara,24-2-1992,26,Wolsburg,"1,79 m",sağ ayak,18,1.0,9
Emre Akbaba,20,on numara,4-10-1992,25,Alanya,"1,80 m",cift ayakli,5,1.0,5.5
Deniz Türüc,16,on numara,29-1-1993,25,Kayseri,"1,75 m",sol ayak,2,NaN,3.5
Irfan Can Kahveci,21,on numara,15-7-1995,22,Başakşehir,"1,76 m",sol ayak,4,NaN,2.5
Berkay Özcan,27,on numara,15-2-1998,20,Stuttgart,"1,80 m",sağ ayak,1,NaN,2.5
Kenan Karaman,18,sol kanat,5-3-1994,24,Hannover,"1,89 m",sağ ayak,3,NaN,1.5
Cengiz Ünder,17,sağ kanat,14-7-1997,20,Roma,"1,73 m",sol ayak,11,4.0,27
Serdar Gürler,7,sağ kanat,14-9-1991,26,Osmanlı,"1,75 m",sağ ayak,4,NaN,3.5
Umut Bulut,10,santrafor,15-3-1983,35,Kayseri,"1,84 m",sağ ayak,39,10.0,0.45

In [38]:
# numarasını güncelleme
milli_takim.iloc[4, 0] = 100
milli_takim.iloc[4]

Numara                 100
Görev               stoper
Doğum Tarihi    10-11-1994
Yaş                     23
Takım           Düsseldorf
Boy                 1,85 m
Ayak              sağ ayak
Maç                     13
Gol                    NaN
Milyon Euro              3
Name: Kaan Ayhan, dtype: object

In [41]:
milli_takim.iloc[[4, 6], 0] = [1000, 2000]
milli_takim.head(8)

,Numara,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
İsim,,,,,,,,,,
Harun Tekin,1,kaleci,17-6-1989,29,Bursa,"1,87 m",sağ ayak,2,NaN,2.5
Sinan Bolat,23,kaleci,3-9-1988,29,Royal FC,"1,88 m",sağ ayak,6,NaN,1.2
Serkan Kirintili,12,kaleci,15-2-1985,33,Konya,"1,86 m",sağ ayak,3,NaN,0.8
Caglar Söyüncü,4,stoper,23-5-1996,22,Sc Freiburg,"1,87 m",sağ ayak,16,1.0,18
Kaan Ayhan,1000,stoper,10-11-1994,23,Düsseldorf,"1,85 m",sağ ayak,13,NaN,3
Ertugrul Ersoy,2000,stoper,13-2-1997,21,Bursa,"1,87 m",sağ ayak,0,NaN,1.75
Hasan Ali Kaldirim,2000,sol bek,9-12-1989,28,Fenerbahçe,"1,83 m",sol ayak,25,NaN,3.25
Ömer Bayram,6,sol bek,27-7-1991,26,Akhisar,"1,75 m",sol ayak,2,NaN,2

In [43]:
# Takımını değiştirme
f= milli_takim["Takım"]=="Fenerbahçe"
milli_takim.loc[f]
milli_takim.loc[f,"Takım"]="FENERBAHÇE"
milli_takim

,Numara,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
İsim,,,,,,,,,,
Harun Tekin,1,kaleci,17-6-1989,29,Bursa,"1,87 m",sağ ayak,2,NaN,2.5
Sinan Bolat,23,kaleci,3-9-1988,29,Royal FC,"1,88 m",sağ ayak,6,NaN,1.2
Serkan Kirintili,12,kaleci,15-2-1985,33,Konya,"1,86 m",sağ ayak,3,NaN,0.8
Caglar Söyüncü,4,stoper,23-5-1996,22,Sc Freiburg,"1,87 m",sağ ayak,16,1.0,18
Kaan Ayhan,1000,stoper,10-11-1994,23,Düsseldorf,"1,85 m",sağ ayak,13,NaN,3
Ertugrul Ersoy,2000,stoper,13-2-1997,21,Bursa,"1,87 m",sağ ayak,0,NaN,1.75
Hasan Ali Kaldirim,3000,sol bek,9-12-1989,28,FENERBAHÇE,"1,83 m",sol ayak,25,NaN,3.25
Ömer Bayram,6,sol bek,27-7-1991,26,Akhisar,"1,75 m",sol ayak,2,NaN,2
Sener Özbayrakli,2,sağ bek,23-1-1990,28,FENERBAHÇE,"1,71 m",sağ ayak,17,NaN,2
Zeki Celik,13,sağ bek,17-2-1997,21,İstanbul,"1,80 m",sağ ayak,1,NaN,0.8
Okay Yokuslu,5,önlibero,9-3-1994,24,Trabzon,"1,91 m",sağ ayak,14,1.0,7.50
Mehmet Topal,15,önlibero,3-3-1986,32,FENERBAHÇE,"1,87 m",cift ayakli,78,2.0,2.5
Mahmut Tekdemir,14,önlibero,20-1-1988,30,Başakşehir,"1,78 m",sağ ayak,5,NaN,2
Tarkan Serbest,25,önlibero,19-4-1994,24,Austria Vien,"1,84 m",sağ ayak,1,NaN,1.5
Oguzhan Özyakup,8,orta saha,23-9-1992,25,Beşiktaş,"1,80 m",sağ ayak,35,1.0,8
Yusuf Yazici,11,on numara,29-1-1997,21,Trabzon,"1,83 m",sol ayak,9,NaN,12
Yunus Malli,19,on numara,24-2-1992,26,Wolsburg,"1,79 m",sağ ayak,18,1.0,9
Emre Akbaba,20,on numara,4-10-1992,25,Alanya,"1,80 m",cift ayakli,5,1.0,5.5
Deniz Türüc,16,on numara,29-1-1993,25,Kayseri,"1,75 m",sol ayak,2,NaN,3.5
Irfan Can Kahveci,21,on numara,15-7-1995,22,Başakşehir,"1,76 m",sol ayak,4,NaN,2.5
Berkay Özcan,27,on numara,15-2-1998,20,Stuttgart,"1,80 m",sağ ayak,1,NaN,2.5
Kenan Karaman,18,sol kanat,5-3-1994,24,Hannover,"1,89 m",sağ ayak,3,NaN,1.5
Cengiz Ünder,17,sağ kanat,14-7-1997,20,Roma,"1,73 m",sol ayak,11,4.0,27
Serdar Gürler,7,sağ kanat,14-9-1991,26,Osmanlı,"1,75 m",sağ ayak,4,NaN,3.5
Umut Bulut,10,santrafor,15-3-1983,35,Kayseri,"1,84 m",sağ ayak,39,10.0,0.45

In [45]:
# RENAME, parametre olarak dictionary alır.

milli_takim.rename(columns={"Görev":"Mevki","Maç":"Maç Sayısı"})

# index ile
milli_takim.rename(index={"Harun Tekin":"HARUN TEKİN"})

,Numara,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
İsim,,,,,,,,,,
HARUN TEKİN,1,kaleci,17-6-1989,29,Bursa,"1,87 m",sağ ayak,2,NaN,2.5
Sinan Bolat,23,kaleci,3-9-1988,29,Royal FC,"1,88 m",sağ ayak,6,NaN,1.2
Serkan Kirintili,12,kaleci,15-2-1985,33,Konya,"1,86 m",sağ ayak,3,NaN,0.8
Caglar Söyüncü,4,stoper,23-5-1996,22,Sc Freiburg,"1,87 m",sağ ayak,16,1.0,18
Kaan Ayhan,1000,stoper,10-11-1994,23,Düsseldorf,"1,85 m",sağ ayak,13,NaN,3
Ertugrul Ersoy,2000,stoper,13-2-1997,21,Bursa,"1,87 m",sağ ayak,0,NaN,1.75
Hasan Ali Kaldirim,3000,sol bek,9-12-1989,28,FENERBAHÇE,"1,83 m",sol ayak,25,NaN,3.25
Ömer Bayram,6,sol bek,27-7-1991,26,Akhisar,"1,75 m",sol ayak,2,NaN,2
Sener Özbayrakli,2,sağ bek,23-1-1990,28,FENERBAHÇE,"1,71 m",sağ ayak,17,NaN,2
Zeki Celik,13,sağ bek,17-2-1997,21,İstanbul,"1,80 m",sağ ayak,1,NaN,0.8
Okay Yokuslu,5,önlibero,9-3-1994,24,Trabzon,"1,91 m",sağ ayak,14,1.0,7.50
Mehmet Topal,15,önlibero,3-3-1986,32,FENERBAHÇE,"1,87 m",cift ayakli,78,2.0,2.5
Mahmut Tekdemir,14,önlibero,20-1-1988,30,Başakşehir,"1,78 m",sağ ayak,5,NaN,2
Tarkan Serbest,25,önlibero,19-4-1994,24,Austria Vien,"1,84 m",sağ ayak,1,NaN,1.5
Oguzhan Özyakup,8,orta saha,23-9-1992,25,Beşiktaş,"1,80 m",sağ ayak,35,1.0,8
Yusuf Yazici,11,on numara,29-1-1997,21,Trabzon,"1,83 m",sol ayak,9,NaN,12
Yunus Malli,19,on numara,24-2-1992,26,Wolsburg,"1,79 m",sağ ayak,18,1.0,9
Emre Akbaba,20,on numara,4-10-1992,25,Alanya,"1,80 m",cift ayakli,5,1.0,5.5
Deniz Türüc,16,on numara,29-1-1993,25,Kayseri,"1,75 m",sol ayak,2,NaN,3.5
Irfan Can Kahveci,21,on numara,15-7-1995,22,Başakşehir,"1,76 m",sol ayak,4,NaN,2.5
Berkay Özcan,27,on numara,15-2-1998,20,Stuttgart,"1,80 m",sağ ayak,1,NaN,2.5
Kenan Karaman,18,sol kanat,5-3-1994,24,Hannover,"1,89 m",sağ ayak,3,NaN,1.5
Cengiz Ünder,17,sağ kanat,14-7-1997,20,Roma,"1,73 m",sol ayak,11,4.0,27
Serdar Gürler,7,sağ kanat,14-9-1991,26,Osmanlı,"1,75 m",sağ ayak,4,NaN,3.5
Umut Bulut,10,santrafor,15-3-1983,35,Kayseri,"1,84 m",sağ ayak,39,10.0,0.45

In [47]:
# Sütun silme

milli_takim.drop(labels=["Maç","Gol"],axis=1)

# pop, siler ve silineni gösterir

milli_takim.pop("Yaş")

İsim
Harun Tekin           29
Sinan Bolat           29
Serkan Kirintili      33
Caglar Söyüncü        22
Kaan Ayhan            23
Ertugrul Ersoy        21
Hasan Ali Kaldirim    28
Ömer Bayram           26
Sener Özbayrakli      28
Zeki Celik            21
Okay Yokuslu          24
Mehmet Topal          32
Mahmut Tekdemir       30
Tarkan Serbest        24
Oguzhan Özyakup       25
Yusuf Yazici          21
Yunus Malli           26
Emre Akbaba           25
Deniz Türüc           25
Irfan Can Kahveci     22
Berkay Özcan          20
Kenan Karaman         24
Cengiz Ünder          20
Serdar Gürler         26
Umut Bulut            35
Name: Yaş, dtype: int64

SAMPLE, NSMALLEST, QUERY, APPLY

In [3]:
takim_milli=pd.read_csv("./datasets/millitakim.csv",index_col="İsim")
takim_milli

,Numara,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
İsim,,,,,,,,,,
Harun Tekin,1,kaleci,17-6-1989,29,Bursa,"1,87 m",sağ ayak,2,NaN,2.5
Sinan Bolat,23,kaleci,3-9-1988,29,Royal FC,"1,88 m",sağ ayak,6,NaN,1.2
Serkan Kirintili,12,kaleci,15-2-1985,33,Konya,"1,86 m",sağ ayak,3,NaN,0.8
Caglar Söyüncü,4,stoper,23-5-1996,22,Sc Freiburg,"1,87 m",sağ ayak,16,1.0,18
Kaan Ayhan,22,stoper,10-11-1994,23,Düsseldorf,"1,85 m",sağ ayak,13,NaN,3
Ertugrul Ersoy,24,stoper,13-2-1997,21,Bursa,"1,87 m",sağ ayak,0,NaN,1.75
Hasan Ali Kaldirim,3,sol bek,9-12-1989,28,Fenerbahçe,"1,83 m",sol ayak,25,NaN,3.25
Ömer Bayram,6,sol bek,27-7-1991,26,Akhisar,"1,75 m",sol ayak,2,NaN,2
Sener Özbayrakli,2,sağ bek,23-1-1990,28,Fenerbahçe,"1,71 m",sağ ayak,17,NaN,2
Zeki Celik,13,sağ bek,17-2-1997,21,İstanbul,"1,80 m",sağ ayak,1,NaN,0.8
Okay Yokuslu,5,önlibero,9-3-1994,24,Trabzon,"1,91 m",sağ ayak,14,1.0,7.50
Mehmet Topal,15,önlibero,3-3-1986,32,Fenerbahçe,"1,87 m",cift ayakli,78,2.0,2.5
Mahmut Tekdemir,14,önlibero,20-1-1988,30,Başakşehir,"1,78 m",sağ ayak,5,NaN,2
Tarkan Serbest,25,önlibero,19-4-1994,24,Austria Vien,"1,84 m",sağ ayak,1,NaN,1.5
Oguzhan Özyakup,8,orta saha,23-9-1992,25,Beşiktaş,"1,80 m",sağ ayak,35,1.0,8
Yusuf Yazici,11,on numara,29-1-1997,21,Trabzon,"1,83 m",sol ayak,9,NaN,12
Yunus Malli,19,on numara,24-2-1992,26,Wolsburg,"1,79 m",sağ ayak,18,1.0,9
Emre Akbaba,20,on numara,4-10-1992,25,Alanya,"1,80 m",cift ayakli,5,1.0,5.5
Deniz Türüc,16,on numara,29-1-1993,25,Kayseri,"1,75 m",sol ayak,2,NaN,3.5
Irfan Can Kahveci,21,on numara,15-7-1995,22,Başakşehir,"1,76 m",sol ayak,4,NaN,2.5
Berkay Özcan,27,on numara,15-2-1998,20,Stuttgart,"1,80 m",sağ ayak,1,NaN,2.5
Kenan Karaman,18,sol kanat,5-3-1994,24,Hannover,"1,89 m",sağ ayak,3,NaN,1.5
Cengiz Ünder,17,sağ kanat,14-7-1997,20,Roma,"1,73 m",sol ayak,11,4.0,27
Serdar Gürler,7,sağ kanat,14-9-1991,26,Osmanlı,"1,75 m",sağ ayak,4,NaN,3.5
Umut Bulut,10,santrafor,15-3-1983,35,Kayseri,"1,84 m",sağ ayak,39,10.0,0.45

In [54]:
# rastgele örnek için sample
takim_milli.sample(5,axis=0)

,Numara,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
İsim,,,,,,,,,,
Mehmet Topal,15,önlibero,3-3-1986,32,Fenerbahçe,"1,87 m",cift ayakli,78,2.0,2.5
Umut Bulut,10,santrafor,15-3-1983,35,Kayseri,"1,84 m",sağ ayak,39,10.0,0.45
Emre Akbaba,20,on numara,4-10-1992,25,Alanya,"1,80 m",cift ayakli,5,1.0,5.5
Berkay Özcan,27,on numara,15-2-1998,20,Stuttgart,"1,80 m",sağ ayak,1,NaN,2.5
Okay Yokuslu,5,önlibero,9-3-1994,24,Trabzon,"1,91 m",sağ ayak,14,1.0,7.50

In [56]:
# en küçük n değer

takim_milli.nsmallest(3,columns="Yaş")

# en büyük n değer

takim_milli.nlargest(3,columns="Yaş")

,Numara,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
İsim,,,,,,,,,,
Umut Bulut,10,santrafor,15-3-1983,35,Kayseri,"1,84 m",sağ ayak,39,10.0,0.45
Serkan Kirintili,12,kaleci,15-2-1985,33,Konya,"1,86 m",sağ ayak,3,NaN,0.8
Mehmet Topal,15,önlibero,3-3-1986,32,Fenerbahçe,"1,87 m",cift ayakli,78,2.0,2.5

In [5]:
fener=takim_milli["Takım"]=="Fenerbahçe"
# diğerlerini NaN yaparak verir.
takim_milli.where(fener)

,Numara,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
İsim,,,,,,,,,,
Harun Tekin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sinan Bolat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Serkan Kirintili,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Caglar Söyüncü,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kaan Ayhan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ertugrul Ersoy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hasan Ali Kaldirim,3.0,sol bek,9-12-1989,28.0,Fenerbahçe,"1,83 m",sol ayak,25.0,NaN,3.25
Ömer Bayram,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sener Özbayrakli,2.0,sağ bek,23-1-1990,28.0,Fenerbahçe,"1,71 m",sağ ayak,17.0,NaN,2
Zeki Celik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Okay Yokuslu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mehmet Topal,15.0,önlibero,3-3-1986,32.0,Fenerbahçe,"1,87 m",cift ayakli,78.0,2.0,2.5
Mahmut Tekdemir,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tarkan Serbest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Oguzhan Özyakup,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yusuf Yazici,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yunus Malli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Emre Akbaba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Deniz Türüc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Irfan Can Kahveci,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Berkay Özcan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kenan Karaman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cengiz Ünder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Serdar Gürler,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Umut Bulut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
yas=takim_milli["Yaş"]<30
# hem fenerli hem yaşı 30 dan düşükler:
takim_milli.where(fener & yas)

,Numara,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
İsim,,,,,,,,,,
Harun Tekin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sinan Bolat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Serkan Kirintili,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Caglar Söyüncü,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kaan Ayhan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ertugrul Ersoy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hasan Ali Kaldirim,3.0,sol bek,9-12-1989,28.0,Fenerbahçe,"1,83 m",sol ayak,25.0,NaN,3.25
Ömer Bayram,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sener Özbayrakli,2.0,sağ bek,23-1-1990,28.0,Fenerbahçe,"1,71 m",sağ ayak,17.0,NaN,2
Zeki Celik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Okay Yokuslu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mehmet Topal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mahmut Tekdemir,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tarkan Serbest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Oguzhan Özyakup,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yusuf Yazici,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yunus Malli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Emre Akbaba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Deniz Türüc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Irfan Can Kahveci,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Berkay Özcan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kenan Karaman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cengiz Ünder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Serdar Gürler,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Umut Bulut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
takim_milli.query('Takım=="Fenerbahçe"')
takim_milli.query('Görev == "sol bek"')
takim_milli.query('Yaş < 25 or Görev == "sol bek"')

,Numara,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
İsim,,,,,,,,,,
Caglar Söyüncü,4,stoper,23-5-1996,22,Sc Freiburg,"1,87 m",sağ ayak,16,1.0,18
Kaan Ayhan,22,stoper,10-11-1994,23,Düsseldorf,"1,85 m",sağ ayak,13,NaN,3
Ertugrul Ersoy,24,stoper,13-2-1997,21,Bursa,"1,87 m",sağ ayak,0,NaN,1.75
Hasan Ali Kaldirim,3,sol bek,9-12-1989,28,Fenerbahçe,"1,83 m",sol ayak,25,NaN,3.25
Ömer Bayram,6,sol bek,27-7-1991,26,Akhisar,"1,75 m",sol ayak,2,NaN,2
Zeki Celik,13,sağ bek,17-2-1997,21,İstanbul,"1,80 m",sağ ayak,1,NaN,0.8
Okay Yokuslu,5,önlibero,9-3-1994,24,Trabzon,"1,91 m",sağ ayak,14,1.0,7.50
Tarkan Serbest,25,önlibero,19-4-1994,24,Austria Vien,"1,84 m",sağ ayak,1,NaN,1.5
Yusuf Yazici,11,on numara,29-1-1997,21,Trabzon,"1,83 m",sol ayak,9,NaN,12
Irfan Can Kahveci,21,on numara,15-7-1995,22,Başakşehir,"1,76 m",sol ayak,4,NaN,2.5
Berkay Özcan,27,on numara,15-2-1998,20,Stuttgart,"1,80 m",sağ ayak,1,NaN,2.5
Kenan Karaman,18,sol kanat,5-3-1994,24,Hannover,"1,89 m",sağ ayak,3,NaN,1.5
Cengiz Ünder,17,sağ kanat,14-7-1997,20,Roma,"1,73 m",sol ayak,11,4.0,27

In [16]:
# apply için fonksiyon yazmalıyız, onu kullanmamızı sağlıyor, her değeri işlemeyi sağlar map gibi.

def milyon(number):
    return str(number) + " milyon euro"

sutun= ["Milyon Euro"]
for sut in sutun:
    takim_milli[sut]= takim_milli[sut].apply(milyon)

takim_milli

,Numara,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
İsim,,,,,,,,,,
Harun Tekin,1,kaleci,17-6-1989,29,Bursa,"1,87 m",sağ ayak,2,NaN,2.5 milyon euro milyon euro milyon euro
Sinan Bolat,23,kaleci,3-9-1988,29,Royal FC,"1,88 m",sağ ayak,6,NaN,1.2 milyon euro milyon euro milyon euro
Serkan Kirintili,12,kaleci,15-2-1985,33,Konya,"1,86 m",sağ ayak,3,NaN,0.8 milyon euro milyon euro milyon euro
Caglar Söyüncü,4,stoper,23-5-1996,22,Sc Freiburg,"1,87 m",sağ ayak,16,1.0,18 milyon euro milyon euro milyon euro
Kaan Ayhan,22,stoper,10-11-1994,23,Düsseldorf,"1,85 m",sağ ayak,13,NaN,3 milyon euro milyon euro milyon euro
Ertugrul Ersoy,24,stoper,13-2-1997,21,Bursa,"1,87 m",sağ ayak,0,NaN,1.75 milyon euro milyon euro milyon euro
Hasan Ali Kaldirim,3,sol bek,9-12-1989,28,Fenerbahçe,"1,83 m",sol ayak,25,NaN,3.25 milyon euro milyon euro milyon euro
Ömer Bayram,6,sol bek,27-7-1991,26,Akhisar,"1,75 m",sol ayak,2,NaN,2 milyon euro milyon euro milyon euro
Sener Özbayrakli,2,sağ bek,23-1-1990,28,Fenerbahçe,"1,71 m",sağ ayak,17,NaN,2 milyon euro milyon euro milyon euro
Zeki Celik,13,sağ bek,17-2-1997,21,İstanbul,"1,80 m",sağ ayak,1,NaN,0.8 milyon euro milyon euro milyon euro
Okay Yokuslu,5,önlibero,9-3-1994,24,Trabzon,"1,91 m",sağ ayak,14,1.0,7.50 milyon euro milyon euro milyon euro
Mehmet Topal,15,önlibero,3-3-1986,32,Fenerbahçe,"1,87 m",cift ayakli,78,2.0,2.5 milyon euro milyon euro milyon euro
Mahmut Tekdemir,14,önlibero,20-1-1988,30,Başakşehir,"1,78 m",sağ ayak,5,NaN,2 milyon euro milyon euro milyon euro
Tarkan Serbest,25,önlibero,19-4-1994,24,Austria Vien,"1,84 m",sağ ayak,1,NaN,1.5 milyon euro milyon euro milyon euro
Oguzhan Özyakup,8,orta saha,23-9-1992,25,Beşiktaş,"1,80 m",sağ ayak,35,1.0,8 milyon euro milyon euro milyon euro
Yusuf Yazici,11,on numara,29-1-1997,21,Trabzon,"1,83 m",sol ayak,9,NaN,12 milyon euro milyon euro milyon euro
Yunus Malli,19,on numara,24-2-1992,26,Wolsburg,"1,79 m",sağ ayak,18,1.0,9 milyon euro milyon euro milyon euro
Emre Akbaba,20,on numara,4-10-1992,25,Alanya,"1,80 m",cift ayakli,5,1.0,5.5 milyon euro milyon euro milyon euro
Deniz Türüc,16,on numara,29-1-1993,25,Kayseri,"1,75 m",sol ayak,2,NaN,3.5 milyon euro milyon euro milyon euro
Irfan Can Kahveci,21,on numara,15-7-1995,22,Başakşehir,"1,76 m",sol ayak,4,NaN,2.5 milyon euro milyon euro milyon euro
Berkay Özcan,27,on numara,15-2-1998,20,Stuttgart,"1,80 m",sağ ayak,1,NaN,2.5 milyon euro milyon euro milyon euro
Kenan Karaman,18,sol kanat,5-3-1994,24,Hannover,"1,89 m",sağ ayak,3,NaN,1.5 milyon euro milyon euro milyon euro
Cengiz Ünder,17,sağ kanat,14-7-1997,20,Roma,"1,73 m",sol ayak,11,4.0,27 milyon euro milyon euro milyon euro
Serdar Gürler,7,sağ kanat,14-9-1991,26,Osmanlı,"1,75 m",sağ ayak,4,NaN,3.5 milyon euro milyon euro milyon euro
Umut Bulut,10,santrafor,15-3-1983,35,Kayseri,"1,84 m",sağ ayak,39,10.0,0.45 milyon euro milyon euro milyon euro

In [19]:
takimlar=takim_milli["Takım"].copy()
takimlar["Harun Tekin"]="Türkiye"
takimlar

İsim
Harun Tekin                Türkiye
Sinan Bolat               Royal FC
Serkan Kirintili             Konya
Caglar Söyüncü         Sc Freiburg
Kaan Ayhan              Düsseldorf
Ertugrul Ersoy               Bursa
Hasan Ali Kaldirim      Fenerbahçe
Ömer Bayram                Akhisar
Sener Özbayrakli        Fenerbahçe
Zeki Celik                İstanbul
Okay Yokuslu               Trabzon
Mehmet Topal            Fenerbahçe
Mahmut Tekdemir         Başakşehir
Tarkan Serbest        Austria Vien
Oguzhan Özyakup           Beşiktaş
Yusuf Yazici               Trabzon
Yunus Malli               Wolsburg
Emre Akbaba                 Alanya
Deniz Türüc                Kayseri
Irfan Can Kahveci       Başakşehir
Berkay Özcan             Stuttgart
Kenan Karaman             Hannover
Cengiz Ünder                  Roma
Serdar Gürler             Osmanlı
Umut Bulut                 Kayseri
Name: Takım, dtype: object

GROUP BY (GRUPLAMA)

In [4]:
import pandas as pd

oyun=pd.read_csv("./datasets/wcplayers.csv",index_col="FIFA Popular Name")
oyun

,Team,#,Pos.,Birth Date,Shirt Name,Club,Height,Weight
FIFA Popular Name,,,,,,,,
TAGLIAFICO Nicolas,Argentina,3,DF,31.08.1992,TAGLIAFICO,AFC Ajax (NED),169,65
PAVON Cristian,Argentina,22,MF,21.01.1996,PAVÓN,CA Boca Juniors (ARG),169,65
LANZINI Manuel,Argentina,15,MF,15.02.1993,LANZINI,West Ham United FC (ENG),167,66
SALVIO Eduardo,Argentina,18,DF,13.07.1990,SALVIO,SL Benfica (POR),167,69
MESSI Lionel,Argentina,10,FW,24.06.1987,MESSI,FC Barcelona (ESP),170,72
...,...,...,...,...,...,...,...,...
VECINO Matias,Uruguay,15,MF,24.08.1991,VECINO,FC Internazionale (ITA),189,80
SILVA Martin,Uruguay,23,GK,25.03.1983,M. SILVA,CR Vasco da Gama (BRA),187,82
SUAREZ Luis,Uruguay,9,FW,24.01.1987,SUAREZ,FC Barcelona (ESP),182,85
GOMEZ Maximiliano,Uruguay,18,FW,14.08.1996,M. GOMEZ,Celta Vigo (ESP),186,85
COATES Sebastian,Uruguay,19,DF,07.10.1990,COATES,Sporting CP (POR),196,89

In [6]:
team=oyun.groupby("Team")
len(oyun), len(team)

(736, 32)

In [10]:
oyun["Team"].value_counts()
team.first()
team.last()

,#,Pos.,Birth Date,Shirt Name,Club,Height,Weight
Team,,,,,,,
Argentina,1,GK,10.02.1986,GUZMÁN,Tigres UANL (MEX),192,90
Australia,18,GK,27.03.1985,VUKOVIC,KRC Genk (BEL),187,94
Belgium,9,FW,13.05.1993,R. LUKAKU,Manchester United FC (ENG),190,94
Brazil,16,GK,06.06.1987,CASSIO,SC Corinthians (BRA),195,92
Colombia,13,DF,23.09.1994,Y. MINA,FC Barcelona (ESP),194,95
Costa Rica,19,DF,01.01.1988,K. WASTON,Vancouver Whitecaps FC (CAN),196,87
Croatia,12,GK,03.04.1990,L. KALINIĆ,KAA Gent (BEL),201,96
Denmark,3,DF,03.08.1992,VESTERGAARD,VfL Borussia Mönchengladbach (GER),200,98
Egypt,6,DF,25.01.1991,A. HEGAZY,West Bromwich Albion FC (ENG),194,95
England,9,FW,28.07.1993,KANE,Tottenham Hotspur FC (ENG),188,98
France,23,GK,27.02.1993,AREOLA,Paris Saint-Germain FC (FRA),195,95
Germany,1,GK,27.03.1986,NEUER,FC Bayern München (GER),193,93
IR Iran,1,GK,21.09.1992,A. BEIRANVAND,Persepolis FC (IRN),194,85
Iceland,12,GK,19.01.1995,SCHRAM,Roskilde BK (DEN),198,92
Japan,2,DF,24.10.1994,UEDA,Kashima Antlers (JPN),186,79
Korea Republic,9,FW,14.04.1988,S W KIM,Jeonbuk Hyundai (KOR),197,97
Mexico,12,GK,18.09.1982,A. TALAVERA,Deportivo Toluca FC (MEX),188,84
Morocco,12,GK,10.05.1989,EL KAJOUI,CD Numancia (ESP),190,88
Nigeria,16,GK,08.03.1986,AKPEYI,Chippa United FC (RSA),187,94
Panama,5,DF,20.03.1986,R. TORRES,Seattle Sounders FC (USA),188,99
Peru,9,FW,01.01.1984,GUERRERO,CR Flamengo (BRA),185,88
Poland,1,GK,18.04.1990,SZCZESNY,Juventus FC (ITA),195,84
Portugal,6,DF,22.12.1983,FONTE,Dalian Yifang FC (CHN),191,84
Russia,22,FW,22.08.1988,DZYUBA,FC Arsenal Tula (RUS),196,90
Saudi Arabia,1,GK,23.01.1987,ABDULLAH,Al Hilal SFC (KSA),178,98
Senegal,11,MF,29.03.1986,CH. NDOYE,Birmingham City FC (ENG),192,90
Serbia,1,GK,28.07.1983,STOJKOVIĆ,FK Partizan (SRB),195,92
Spain,23,GK,31.08.1982,REINA,SSC Napoli (ITA),188,92
Sweden,18,DF,13.02.1991,JANSSON,Leeds United FC (ENG),194,89
Switzerland,20,DF,18.01.1987,DJOUROU,Antalyaspor AS (TUR),192,90
Tunisia,2,DF,31.03.1989,BEN YOUSSEF .S,Kasimpasa SK (TUR),189,87
Uruguay,19,DF,07.10.1990,COATES,Sporting CP (POR),196,89

In [15]:
team.get_group("Brazil")
team.get_group("France")
team.get_group("Belgium")
team.get_group("Denmark")

,Team,#,Pos.,Birth Date,Shirt Name,Club,Height,Weight
FIFA Popular Name,,,,,,,,
KROHN-DEHLI Michael,Denmark,2,MF,06.06.1983,KROHN-DEHLI,Deportivo La Coruña (ESP),171,69
SISTO Pione,Denmark,23,FW,04.02.1995,SISTO,Celta Vigo (ESP),173,69
BRAITHWAITE Martin,Denmark,11,FW,05.06.1991,BRAITHWAITE,FC Girondins Bordeaux (FRA),180,73
ERIKSEN Christian,Denmark,10,MF,14.02.1992,ERIKSEN,Tottenham Hotspur FC (ENG),181,76
DELANEY Thomas,Denmark,8,MF,03.09.1991,DELANEY,SV Werder Bremen (GER),180,78
KVIST William,Denmark,7,MF,24.02.1985,KVIST,FC Kobenhavn (DEN),185,80
FISCHER Viktor,Denmark,15,FW,09.06.1994,FISCHER,FC Kobenhavn (DEN),181,80
SCHONE Lasse,Denmark,19,MF,27.05.1986,SCHÖNE,AFC Ajax (NED),178,80
DALSGAARD Henrik,Denmark,14,DF,27.07.1989,DALSGAARD,Brentford FC (ENG),190,81
KNUDSEN Jonas,Denmark,5,DF,16.09.1992,KNUDSEN,Ipswich Town FC (ENG),187,82
STRYGER LARSEN Jens,Denmark,17,DF,21.02.1991,STRYGER,Udinese Calcio (ITA),182,82
KJAER Simon,Denmark,4,DF,26.03.1989,KJÆR,Sevilla FC (ESP),191,84
POULSEN Yussuf Yurary,Denmark,20,FW,15.06.1994,YURARY,RB Leipzig (GER),193,84
CHRISTENSEN Andreas,Denmark,6,DF,10.04.1996,CHRISTENSEN,Chelsea FC (ENG),192,85
DOLBERG Kasper,Denmark,12,FW,06.10.1997,DOLBERG,AFC Ajax (NED),187,85
JORGENSEN Mathias,Denmark,13,DF,23.04.1990,M. JØRGENSEN,Huddersfield Town FC (ENG),191,85
LERAGER Lukas,Denmark,18,MF,12.07.1993,LERAGER,FC Girondins Bordeaux (FRA),186,85
RONNOW Frederik,Denmark,22,GK,04.08.1992,RØNNOW,Brondby IF (DEN),190,85
JORGENSEN Nicolai,Denmark,9,FW,15.01.1991,N. JØRGENSEN,Feyenoord Rotterdam (NED),194,86
LOSSL Jonas,Denmark,16,GK,01.02.1989,LÖSSL,Huddersfield Town FC (ENG),195,90
CORNELIUS Andreas,Denmark,21,FW,16.03.1993,CORNELIUS,Atalanta Bergamo (ITA),195,91
SCHMEICHEL Kasper,Denmark,1,GK,05.11.1986,SCHMEICHEL,Leicester City FC (ENG),190,92
VESTERGAARD Jannik,Denmark,3,DF,03.08.1992,VESTERGAARD,VfL Borussia Mönchengladbach (GER),200,98

In [21]:
team.max()
team.min()
team.sum()
team.mean()

TypeError: Could not convert DFMFMFDFFWDFMFMFDFFWFWFWMFMFMFDFGKDFDFDFDFGKGK to numeric

In [23]:
new_team=oyun.groupby(["Team","Club"])
new_team.size()

Team       Club
Argentina  AC Milan (ITA)                  1
           AFC Ajax (NED)                  1
           AS Roma (ITA)                   1
           CA Boca Juniors (ARG)           1
           CA Independiente (ARG)          1
                                          ..
Uruguay    Juventus FC (ITA)               1
           Paris Saint-Germain FC (FRA)    1
           SS Lazio (ITA)                  1
           Sporting CP (POR)               1
           UC Sampdoria (ITA)              1
Length: 574, dtype: int64

In [25]:
# boy uzunlukları toplamı ve ağırlık ortalaması
team.agg({"Height":"sum",
              "Weight":"mean"})

                Height     Weight
Team
Argentina         4104  75.565217
Australia         4160  77.739130
Belgium           4263  79.565217
Brazil            4158  76.565217
Colombia          4158  76.173913
Costa Rica        4156  74.130435
Croatia           4261  79.304348
Denmark           4292  82.608696
Egypt             4163  78.434783
England           4203  78.826087
France            4216  80.000000
Germany           4273  80.043478
IR Iran           4243  78.130435
Iceland           4267  80.739130
Japan             4112  71.521739
Korea Republic    4183  74.434783
Mexico            4135  74.086957
Morocco           4202  74.652174
Nigeria           4244  80.478261
Panama            4190  80.000000
Peru              4085  75.869565
Poland            4213  76.478261
Portugal          4134  73.608696
Russia            4241  77.608696
Saudi Arabia      4086  73.043478
Senegal           4224  76.826087
Serbia            4294  80.521739
Spain             4138  74.739130
Sweden            4272  78.826087
Switzerland       4207  79.913043
Tunisia           4211  75.000000
Uruguay           4164  74.608696

In [26]:
df=pd.DataFrame(columns=oyun.columns)
# TODO: hata verdi, değişmiş olabilir, docstan bak.
for ulke,data in team:
    uzun=data.nlargest(1,"Height")
    df=df.append(uzun)

AttributeError: 'DataFrame' object has no attribute 'append'

BİRLEŞTİRME: MERGE, JOIN, CONCAT

In [1]:
import pandas as pd

In [16]:
ondort=pd.read_csv("./datasets/2014 wc.csv")
on=pd.read_csv("./datasets/2010 wc.csv")
alti=pd.read_csv("./datasets/2006 wc.csv")
onyedi=pd.read_csv("./datasets/fifa2017.csv")
onsekiz=pd.read_csv("./datasets/fifa2018.csv")
kon7=pd.read_csv("./datasets/fifa2017k.csv")
kon8=pd.read_csv("./datasets/fifa2018k.csv")

In [10]:
# alt alta ekler
pd.concat([ondort,on],ignore_index=True)

           Futbolcu  Gol
0   James Rodriguez    6
1     Thomas Müller    5
2            Neymar    4
3      R.Van Persie    4
4      Lionel Messi    4
5    Andre Schürrle    3
6    Enner Valencia    3
7           Shakiri    3
8      Arjen Robben    3
9        Tim Cahill    2
10      David Villa    5
11  Wesley Sneijder    5
12    Diego Forlan     5
13    Thomas Müller    5
14   Miroslav Klose    4
15    Robert Vittek    4
16        G.Higuain    4
17     Asamoah Gyan    3
18   Landon Donovan    3
19      Luis Suares    3

In [11]:
x=pd.concat([ondort,on],keys=["2014","2010"])

In [12]:
x.loc["2014",2]

Futbolcu    Neymar
Gol              4
Name: (2014, 2), dtype: object

In [13]:
# depracated olabilir, kontrol et.
on.append(alti,ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'append'

In [14]:
on.merge(alti,how="inner",on="Futbolcu",suffixes=(" - 2010"," - 2006"))

         Futbolcu  Gol - 2010  Gol - 2006
0     David Villa           5           3
1  Miroslav Klose           4           5

In [15]:
on.merge(alti,how="outer",on="Futbolcu",suffixes=(" - 2010"," - 2006"))

           Futbolcu  Gol - 2010  Gol - 2006
0       David Villa         5.0         3.0
1   Wesley Sneijder         5.0         NaN
2     Diego Forlan          5.0         NaN
3     Thomas Müller         5.0         NaN
4    Miroslav Klose         4.0         5.0
5     Robert Vittek         4.0         NaN
6         G.Higuain         4.0         NaN
7      Asamoah Gyan         3.0         NaN
8    Landon Donovan         3.0         NaN
9       Luis Suares         3.0         NaN
10   Lucas Podolski         NaN         4.0
11   Maxi Rodriguez         NaN         3.0
12    Thierry Henry         NaN         3.0
13  Zinedine Zidane         NaN         3.0
14    Hernan Crespo         NaN         3.0
15  Fernando Torres         NaN         3.0
16          Ronaldo         NaN         3.0
17         Adriano          NaN         2.0

In [18]:
onyedi.merge(onsekiz,how="inner",on="Ülke",suffixes=(" - 2017"," - 2018"))
onyedi.merge(onsekiz,how="outer",on="Ülke",suffixes=(" - 2017"," - 2018"))

           Ülke  Toplam Puan - 2017  Toplam Puan - 2018
0     Argentina             1634.02             1241.45
1        Brazil             1544.05             1430.57
2       Germany             1432.54             1558.49
3         Chile             1403.96             1134.66
4       Belgium             1367.77             1298.32
5      Colombia             1344.70                 NaN
6        France             1305.41             1198.13
7      Portugal             1229.12             1273.69
8       Uruguay             1187.31                 NaN
9         Spain             1165.66             1125.50
10  Switzerland                 NaN             1198.72
11       Poland                 NaN             1182.61

In [20]:
onyedi.join(onsekiz,how="outer",lsuffix=' - 2017',rsuffix=' - 2018')

  Ülke - 2017  Toplam Puan - 2017  Ülke - 2018  Toplam Puan - 2018
0   Argentina             1634.02      Germany             1558.49
1      Brazil             1544.05       Brazil             1430.57
2     Germany             1432.54      Belgium             1298.32
3       Chile             1403.96     Portugal             1273.69
4     Belgium             1367.77    Argentina             1241.45
5    Colombia             1344.70  Switzerland             1198.72
6      France             1305.41       France             1198.13
7    Portugal             1229.12       Poland             1182.61
8     Uruguay             1187.31        Chile             1134.66
9       Spain             1165.66        Spain             1125.50

In [21]:
onyedi.merge(kon7,how='left',on="Ülke")

        Ülke  Toplam Puan Konfederasyon
0  Argentina      1634.02      CONMEBOL
1     Brazil      1544.05      CONMEBOL
2    Germany      1432.54          UEFA
3      Chile      1403.96      CONMEBOL
4    Belgium      1367.77          UEFA
5   Colombia      1344.70      CONMEBOL
6     France      1305.41          UEFA
7   Portugal      1229.12          UEFA
8    Uruguay      1187.31      CONMEBOL
9      Spain      1165.66          UEFA

BİRDEN FAZLA İNDEKS

In [1]:
import pandas as pd

world=pd.read_csv("./datasets/wcplayers.csv")
world

,Team,#,Pos.,FIFA Popular Name,Birth Date,Shirt Name,Club,Height,Weight
0,Argentina,3,DF,TAGLIAFICO Nicolas,31.08.1992,TAGLIAFICO,AFC Ajax (NED),169,65
1,Argentina,22,MF,PAVON Cristian,21.01.1996,PAVÓN,CA Boca Juniors (ARG),169,65
2,Argentina,15,MF,LANZINI Manuel,15.02.1993,LANZINI,West Ham United FC (ENG),167,66
3,Argentina,18,DF,SALVIO Eduardo,13.07.1990,SALVIO,SL Benfica (POR),167,69
4,Argentina,10,FW,MESSI Lionel,24.06.1987,MESSI,FC Barcelona (ESP),170,72
...,...,...,...,...,...,...,...,...,...
731,Uruguay,15,MF,VECINO Matias,24.08.1991,VECINO,FC Internazionale (ITA),189,80
732,Uruguay,23,GK,SILVA Martin,25.03.1983,M. SILVA,CR Vasco da Gama (BRA),187,82
733,Uruguay,9,FW,SUAREZ Luis,24.01.1987,SUAREZ,FC Barcelona (ESP),182,85
734,Uruguay,18,FW,GOMEZ Maximiliano,14.08.1996,M. GOMEZ,Celta Vigo (ESP),186,85
735,Uruguay,19,DF,COATES Sebastian,07.10.1990,COATES,Sporting CP (POR),196,89

In [4]:
world.set_index(keys=["Team","Shirt Name"], inplace=True)

KeyError: "None of ['Team', 'Shirt Name'] are in the columns"

In [5]:
# iki index de kendi içinde sıralı.
world.sort_index()

                          # Pos.       FIFA Popular Name  Birth Date  \
Team      Shirt Name
Argentina ACUÑA           8   DF            ACUNA Marcos  28.10.1991
          AGÜERO         19   FW           AGUERO Sergio  02.06.1988
          ANSALDI         4   DF        ANSALDI Cristian  20.09.1986
          ARMANI         12   GK           ARMANI Franco  16.10.1986
          BANEGA          7   MF             BANEGA Ever  29.06.1988
...                      ..  ...                     ...         ...
Uruguay   SUAREZ          9   FW             SUAREZ Luis  24.01.1987
          TORREIRA       14   MF          TORREIRA Lucas  11.02.1996
          URRETAVISCAYA  20   FW  URRETAVISCAYA Jonathan  19.03.1990
          VARELA          4   DF        VARELA Guillermo  24.03.1993
          VECINO         15   MF           VECINO Matias  24.08.1991

                                             Club  Height  Weight
Team      Shirt Name
Argentina ACUÑA                 Sporting CP (POR)     172      77
          AGÜERO         Manchester City FC (ENG)     172      74
          ANSALDI                 Torino FC (ITA)     181      73
          ARMANI             CA River Plate (ARG)     189      85
          BANEGA                 Sevilla FC (ESP)     175      73
...                                           ...     ...     ...
Uruguay   SUAREZ               FC Barcelona (ESP)     182      85
          TORREIRA             UC Sampdoria (ITA)     168      61
          URRETAVISCAYA        CF Monterrey (MEX)     172      66
          VARELA                 CA Penarol (URU)     173      70
          VECINO          FC Internazionale (ITA)     189      80

[736 rows x 7 columns]

In [8]:
world.index.names
world.index[0]

('Argentina', 'TAGLIAFICO')

In [11]:
# değer almak için:
world.index.get_level_values(0)
world.index.get_level_values(1)

Index(['TAGLIAFICO', 'PAVÓN', 'LANZINI', 'SALVIO', 'MESSI', 'ANSALDI',
       'BIGLIA', 'BANEGA', 'MASCHERANO', 'DYBALA',
       ...
       'J.M. GIMENEZ', 'STUANI', 'CAVANI', 'C. RODRIGUEZ', 'CAMPAÑA', 'VECINO',
       'M. SILVA', 'SUAREZ', 'M. GOMEZ', 'COATES'],
      dtype='object', name='Shirt Name', length=736)

In [12]:
# index ismi değiştirme
world.index.set_names(["TAKIM","TAKMA İSİM"],inplace=True)

In [13]:
world

                       # Pos.   FIFA Popular Name  Birth Date  \
TAKIM     TAKMA İSİM
Argentina TAGLIAFICO   3   DF  TAGLIAFICO Nicolas  31.08.1992
          PAVÓN       22   MF      PAVON Cristian  21.01.1996
          LANZINI     15   MF      LANZINI Manuel  15.02.1993
          SALVIO      18   DF      SALVIO Eduardo  13.07.1990
          MESSI       10   FW        MESSI Lionel  24.06.1987
...                   ..  ...                 ...         ...
Uruguay   VECINO      15   MF       VECINO Matias  24.08.1991
          M. SILVA    23   GK        SILVA Martin  25.03.1983
          SUAREZ       9   FW         SUAREZ Luis  24.01.1987
          M. GOMEZ    18   FW   GOMEZ Maximiliano  14.08.1996
          COATES      19   DF    COATES Sebastian  07.10.1990

                                          Club  Height  Weight
TAKIM     TAKMA İSİM
Argentina TAGLIAFICO            AFC Ajax (NED)     169      65
          PAVÓN          CA Boca Juniors (ARG)     169      65
          LANZINI     West Ham United FC (ENG)     167      66
          SALVIO              SL Benfica (POR)     167      69
          MESSI             FC Barcelona (ESP)     170      72
...                                        ...     ...     ...
Uruguay   VECINO       FC Internazionale (ITA)     189      80
          M. SILVA      CR Vasco da Gama (BRA)     187      82
          SUAREZ            FC Barcelona (ESP)     182      85
          M. GOMEZ            Celta Vigo (ESP)     186      85
          COATES             Sporting CP (POR)     196      89

[736 rows x 7 columns]

In [14]:
# takımlar z'den, isimler A'dan sıralı
world.sort_index(ascending=[False,True])

                         # Pos.   FIFA Popular Name  Birth Date  \
TAKIM     TAKMA İSİM
Uruguay   BENTANCUR      6   MF   BENTANCUR Rodrigo  25.06.1997
          C. RODRIGUEZ   7   MF  RODRIGUEZ Cristian  30.09.1985
          CACERES       22   DF      CACERES Martin  07.04.1987
          CAMPAÑA       12   GK      CAMPANA Martin  29.05.1989
          CAVANI        21   FW      CAVANI Edinson  14.02.1987
...                     ..  ...                 ...         ...
Argentina OTAMENDI      17   DF    OTAMENDI Nicolas  12.02.1988
          PAVÓN         22   MF      PAVON Cristian  21.01.1996
          ROJO          16   DF         ROJO Marcos  20.03.1990
          SALVIO        18   DF      SALVIO Eduardo  13.07.1990
          TAGLIAFICO     3   DF  TAGLIAFICO Nicolas  31.08.1992

                                                Club  Height  Weight
TAKIM     TAKMA İSİM
Uruguay   BENTANCUR                Juventus FC (ITA)     187      73
          C. RODRIGUEZ              CA Penarol (URU)     178      79
          CACERES                     SS Lazio (ITA)     178      75
          CAMPAÑA             CA Independiente (ARG)     184      79
          CAVANI        Paris Saint-Germain FC (FRA)     188      78
...                                              ...     ...     ...
Argentina OTAMENDI          Manchester City FC (ENG)     181      81
          PAVÓN                CA Boca Juniors (ARG)     169      65
          ROJO            Manchester United FC (ENG)     189      82
          SALVIO                    SL Benfica (POR)     167      69
          TAGLIAFICO                  AFC Ajax (NED)     169      65

[736 rows x 7 columns]

In [16]:
# indexlerin yerini değiştirmek için:
world.swaplevel()

,,#,Pos.,FIFA Popular Name,Birth Date,Club,Height,Weight
TAKMA İSİM,TAKIM,,,,,,,
TAGLIAFICO,Argentina,3,DF,TAGLIAFICO Nicolas,31.08.1992,AFC Ajax (NED),169,65
PAVÓN,Argentina,22,MF,PAVON Cristian,21.01.1996,CA Boca Juniors (ARG),169,65
LANZINI,Argentina,15,MF,LANZINI Manuel,15.02.1993,West Ham United FC (ENG),167,66
SALVIO,Argentina,18,DF,SALVIO Eduardo,13.07.1990,SL Benfica (POR),167,69
MESSI,Argentina,10,FW,MESSI Lionel,24.06.1987,FC Barcelona (ESP),170,72
...,...,...,...,...,...,...,...,...
VECINO,Uruguay,15,MF,VECINO Matias,24.08.1991,FC Internazionale (ITA),189,80
M. SILVA,Uruguay,23,GK,SILVA Martin,25.03.1983,CR Vasco da Gama (BRA),187,82
SUAREZ,Uruguay,9,FW,SUAREZ Luis,24.01.1987,FC Barcelona (ESP),182,85
M. GOMEZ,Uruguay,18,FW,GOMEZ Maximiliano,14.08.1996,Celta Vigo (ESP),186,85
COATES,Uruguay,19,DF,COATES Sebastian,07.10.1990,Sporting CP (POR),196,89

In [19]:
world.stack()
s=world.stack().to_frame()
s

                                                         0
TAKIM     TAKMA İSİM
Argentina TAGLIAFICO #                                   3
                     Pos.                               DF
                     FIFA Popular Name  TAGLIAFICO Nicolas
                     Birth Date                 31.08.1992
                     Club                   AFC Ajax (NED)
...                                                    ...
Uruguay   COATES     FIFA Popular Name    COATES Sebastian
                     Birth Date                 07.10.1990
                     Club                Sporting CP (POR)
                     Height                            196
                     Weight                             89

[5152 rows x 1 columns]

In [20]:
s.unstack()

                          0                                           \
                          # Pos.       FIFA Popular Name  Birth Date
TAKIM     TAKMA İSİM
Argentina ACUÑA           8   DF            ACUNA Marcos  28.10.1991
          AGÜERO         19   FW           AGUERO Sergio  02.06.1988
          ANSALDI         4   DF        ANSALDI Cristian  20.09.1986
          ARMANI         12   GK           ARMANI Franco  16.10.1986
          BANEGA          7   MF             BANEGA Ever  29.06.1988
...                      ..  ...                     ...         ...
Uruguay   SUAREZ          9   FW             SUAREZ Luis  24.01.1987
          TORREIRA       14   MF          TORREIRA Lucas  11.02.1996
          URRETAVISCAYA  20   FW  URRETAVISCAYA Jonathan  19.03.1990
          VARELA          4   DF        VARELA Guillermo  24.03.1993
          VECINO         15   MF           VECINO Matias  24.08.1991


                                             Club Height Weight
TAKIM     TAKMA İSİM
Argentina ACUÑA                 Sporting CP (POR)    172     77
          AGÜERO         Manchester City FC (ENG)    172     74
          ANSALDI                 Torino FC (ITA)    181     73
          ARMANI             CA River Plate (ARG)    189     85
          BANEGA                 Sevilla FC (ESP)    175     73
...                                           ...    ...    ...
Uruguay   SUAREZ               FC Barcelona (ESP)    182     85
          TORREIRA             UC Sampdoria (ITA)    168     61
          URRETAVISCAYA        CF Monterrey (MEX)    172     66
          VARELA                 CA Penarol (URU)    173     70
          VECINO          FC Internazionale (ITA)    189     80

[736 rows x 7 columns]

PIVOT

In [24]:
futbol = pd.read_csv("./datasets/pivot.csv")
futbol

      Mevsim   Futbolcu  Gol
0   ilkbahar  C.Ronaldo   13
1        yaz  C.Ronaldo   11
2   sonbahar  C.Ronaldo    9
3        kış  C.Ronaldo   12
4   ilkbahar    L.Messi   22
5        yaz    L.Messi   11
6   sonbahar    L.Messi    4
7        kış    L.Messi    6
8   ilkbahar     Neymar    5
9        yaz     Neymar    7
10  sonbahar     Neymar    8
11       kış     Neymar    9
12  ilkbahar     M.Özil    3
13       yaz     M.Özil    5
14  sonbahar     M.Özil    3
15       kış     M.Özil    7
16  ilkbahar    M.Salah    4
17       yaz    M.Salah    8
18  sonbahar    M.Salah    5
19       kış    M.Salah    4

In [25]:
futbol.pivot(index="Futbolcu",columns="Mevsim", values="Gol")

Mevsim     ilkbahar  kış  sonbahar  yaz
Futbolcu
C.Ronaldo        13   12         9   11
L.Messi          22    6         4   11
M.Salah           4    4         5    8
M.Özil            3    7         3    5
Neymar            5    9         8    7

In [28]:
futbol.pivot_table(index="Futbolcu", values="Gol", aggfunc="sum")
futbol.pivot_table(index="Futbolcu", values="Gol", aggfunc="mean")

             Gol
Futbolcu
C.Ronaldo  11.25
L.Messi    10.75
M.Salah     5.25
M.Özil      4.50
Neymar      7.25

In [29]:
# pivotun tam tersi: melt
melt_me = pd.read_csv("./datasets/melt.csv")
melt_me

    Futbolcu  2014  2015  2016  2017
0  C.Ronaldo    45    47    50    55
1    L.Messi    43    45    51    54
2     M.Özil    23    31    32    21
3     Neymar    33    23    33    22
4    M.Salah    11    15    19    34
5    E.Dzeko    23    33    22    12
6   S.Agüero    25    23    22    13
7  K.Benzema    28    22    12    16

In [30]:
pd.melt(melt_me, id_vars="Futbolcu", var_name="Yıl", value_name="Gol")

     Futbolcu   Yıl  Gol
0   C.Ronaldo  2014   45
1     L.Messi  2014   43
2      M.Özil  2014   23
3      Neymar  2014   33
4     M.Salah  2014   11
5     E.Dzeko  2014   23
6    S.Agüero  2014   25
7   K.Benzema  2014   28
8   C.Ronaldo  2015   47
9     L.Messi  2015   45
10     M.Özil  2015   31
11     Neymar  2015   23
12    M.Salah  2015   15
13    E.Dzeko  2015   33
14   S.Agüero  2015   23
15  K.Benzema  2015   22
16  C.Ronaldo  2016   50
17    L.Messi  2016   51
18     M.Özil  2016   32
19     Neymar  2016   33
20    M.Salah  2016   19
21    E.Dzeko  2016   22
22   S.Agüero  2016   22
23  K.Benzema  2016   12
24  C.Ronaldo  2017   55
25    L.Messi  2017   54
26     M.Özil  2017   21
27     Neymar  2017   22
28    M.Salah  2017   34
29    E.Dzeko  2017   12
30   S.Agüero  2017   13
31  K.Benzema  2017   16

TEXT VERİLERİ

In [1]:
import pandas as pd

kupa = pd.read_csv("./datasets/wcplayers.csv")
kupa

,Team,#,Pos.,FIFA Popular Name,Birth Date,Shirt Name,Club,Height,Weight
0,Argentina,3,DF,TAGLIAFICO Nicolas,31.08.1992,TAGLIAFICO,AFC Ajax (NED),169,65
1,Argentina,22,MF,PAVON Cristian,21.01.1996,PAVÓN,CA Boca Juniors (ARG),169,65
2,Argentina,15,MF,LANZINI Manuel,15.02.1993,LANZINI,West Ham United FC (ENG),167,66
3,Argentina,18,DF,SALVIO Eduardo,13.07.1990,SALVIO,SL Benfica (POR),167,69
4,Argentina,10,FW,MESSI Lionel,24.06.1987,MESSI,FC Barcelona (ESP),170,72
...,...,...,...,...,...,...,...,...,...
731,Uruguay,15,MF,VECINO Matias,24.08.1991,VECINO,FC Internazionale (ITA),189,80
732,Uruguay,23,GK,SILVA Martin,25.03.1983,M. SILVA,CR Vasco da Gama (BRA),187,82
733,Uruguay,9,FW,SUAREZ Luis,24.01.1987,SUAREZ,FC Barcelona (ESP),182,85
734,Uruguay,18,FW,GOMEZ Maximiliano,14.08.1996,M. GOMEZ,Celta Vigo (ESP),186,85
735,Uruguay,19,DF,COATES Sebastian,07.10.1990,COATES,Sporting CP (POR),196,89

In [32]:
kupa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 736 entries, 0 to 735
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Team               736 non-null    object
 1   #                  736 non-null    int64
 2   Pos.               736 non-null    object
 3   FIFA Popular Name  736 non-null    object
 4   Birth Date         736 non-null    object
 5   Shirt Name         736 non-null    object
 6   Club               736 non-null    object
 7   Height             736 non-null    int64
 8   Weight             736 non-null    int64
dtypes: int64(3), object(6)
memory usage: 51.9+ KB

In [33]:
# hafıza kullanımını düşürmek için:
kupa["Team"] = kupa["Team"].astype("category")
kupa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 736 entries, 0 to 735
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Team               736 non-null    category
 1   #                  736 non-null    int64
 2   Pos.               736 non-null    object
 3   FIFA Popular Name  736 non-null    object
 4   Birth Date         736 non-null    object
 5   Shirt Name         736 non-null    object
 6   Club               736 non-null    object
 7   Height             736 non-null    int64
 8   Weight             736 non-null    int64
dtypes: category(1), int64(3), object(5)
memory usage: 48.1+ KB

In [34]:
kupa["Team"].nunique()

32

In [40]:
# string değerlerle yaptığımız tüm işlemlerin başına .str koyuyoruz!
kupa["FIFA Popular Name"]
kupa["FIFA Popular Name"].str.lower()
kupa["FIFA Popular Name"].str.upper()
kupa["FIFA Popular Name"].str.title()
kupa["FIFA Popular Name"].str.len()

0      18
1      14
2      14
3      14
4      12
       ..
731    13
732    12
733    11
734    17
735    16
Name: FIFA Popular Name, Length: 736, dtype: int64

In [46]:
kupa["Team"].str.replace("Argentina", "Arjantin")
kupa["Birth Date"].str.replace(".", "/")

# kalıcı hale gelmesi için:
kupa["Birth Date"] = kupa["Birth Date"].str.replace(".", "/")

In [48]:
# kelime içerenleri bulma
manuel = kupa["FIFA Popular Name"].str.lower().str.contains("manuel")
kupa[manuel]

,Team,#,Pos.,FIFA Popular Name,Birth Date,Shirt Name,Club,Height,Weight
2,Argentina,15,MF,LANZINI Manuel,15/02/1993,LANZINI,West Ham United FC (ENG),167,66
275,Germany,1,GK,NEUER Manuel,27/03/1986,NEUER,FC Bayern München (GER),193,93
407,Morocco,4,DF,DA COSTA Manuel,06/05/1986,DA COSTA,Istanbul Başakşehir FK (TUR),187,78
513,Portugal,4,MF,MANUEL FERNANDES,05/02/1986,M. FERNANDES,FC Lokomotiv Moscow (RUS),174,69
686,Switzerland,5,DF,AKANJI Manuel,19/07/1995,AKANJI,Borussia Dortmund (GER),186,85

In [49]:
# başlangıç kelimesi
man = kupa["FIFA Popular Name"].str.lower().str.startswith("man")
kupa[man]

,Team,#,Pos.,FIFA Popular Name,Birth Date,Shirt Name,Club,Height,Weight
158,Croatia,17,FW,MANDZUKIC Mario,21/05/1986,MANDŽUKIĆ,Juventus FC (ITA),190,85
249,France,16,GK,MANDANDA Steve,28/03/1985,MANDANDA,Olympique Marseille (FRA),187,88
513,Portugal,4,MF,MANUEL FERNANDES,05/02/1986,M. FERNANDES,FC Lokomotiv Moscow (RUS),174,69
560,Saudi Arabia,2,DF,MANSOUR ALHARBI,19/10/1987,MANSOUR,Al Ahli SC (KSA),173,68
577,Senegal,10,FW,MANE Sadio,10/04/1992,MANE,Liverpool FC (ENG),175,69

In [51]:
# bitiş kelimesi
uel = kupa["FIFA Popular Name"].str.lower().str.endswith("uel")
kupa[uel]

,Team,#,Pos.,FIFA Popular Name,Birth Date,Shirt Name,Club,Height,Weight
2,Argentina,15,MF,LANZINI Manuel,15/02/1993,LANZINI,West Ham United FC (ENG),167,66
22,Argentina,1,GK,GUZMAN Nahuel,10/02/1986,GUZMÁN,Tigres UANL (MEX),192,90
102,Colombia,19,FW,BORJA Miguel,26/01/1993,M. BORJA,SE Palmeiras (BRA),183,74
245,France,5,DF,UMTITI Samuel,14/11/1993,UMTITI,FC Barcelona (ESP),183,84
275,Germany,1,GK,NEUER Manuel,27/03/1986,NEUER,FC Bayern München (GER),193,93
282,Iceland,3,MF,FRIDJONSSON Samuel,22/02/1996,FRIDJÓNSSON,Valerenga IF (NOR),185,78
376,Mexico,7,MF,LAYUN Miguel,25/06/1988,M. LAYÚN,Sevilla FC (ESP),180,72
407,Morocco,4,DF,DA COSTA Manuel,06/05/1986,DA COSTA,Istanbul Başakşehir FK (TUR),187,78
469,Peru,6,DF,TRAUCO Miguel,25/08/1992,TRAUCO,CR Flamengo (BRA),169,74
472,Peru,5,DF,ARAUJO Miguel,24/10/1994,ARAUJO,Alianza Lima (PER),178,77
686,Switzerland,5,DF,AKANJI Manuel,19/07/1995,AKANJI,Borussia Dortmund (GER),186,85

In [3]:
kupa["FIFA Popular Name"] = kupa["FIFA Popular Name"].str.strip()
kupa["FIFA Popular Name"]

0      TAGLIAFICO Nicolas
1          PAVON Cristian
2          LANZINI Manuel
3          SALVIO Eduardo
4            MESSI Lionel
              ...
731         VECINO Matias
732          SILVA Martin
733           SUAREZ Luis
734     GOMEZ Maximiliano
735      COATES Sebastian
Name: FIFA Popular Name, Length: 736, dtype: object

In [5]:
kupa["Club"] = kupa["Club"].str.strip()
kupa["Club"]

0                AFC Ajax (NED)
1         CA Boca Juniors (ARG)
2      West Ham United FC (ENG)
3              SL Benfica (POR)
4            FC Barcelona (ESP)
                 ...
731     FC Internazionale (ITA)
732      CR Vasco da Gama (BRA)
733          FC Barcelona (ESP)
734            Celta Vigo (ESP)
735           Sporting CP (POR)
Name: Club, Length: 736, dtype: object

In [6]:
kupa = pd.read_csv("./datasets/wcplayers.csv", index_col="Team")
kupa.index = kupa.index.str.strip()

In [7]:
kupa.columns = kupa.columns.str.upper().str.strip()

In [8]:
kupa

,#,POS.,FIFA POPULAR NAME,BIRTH DATE,SHIRT NAME,CLUB,HEIGHT,WEIGHT
Team,,,,,,,,
Argentina,3,DF,TAGLIAFICO Nicolas,31.08.1992,TAGLIAFICO,AFC Ajax (NED),169,65
Argentina,22,MF,PAVON Cristian,21.01.1996,PAVÓN,CA Boca Juniors (ARG),169,65
Argentina,15,MF,LANZINI Manuel,15.02.1993,LANZINI,West Ham United FC (ENG),167,66
Argentina,18,DF,SALVIO Eduardo,13.07.1990,SALVIO,SL Benfica (POR),167,69
Argentina,10,FW,MESSI Lionel,24.06.1987,MESSI,FC Barcelona (ESP),170,72
...,...,...,...,...,...,...,...,...
Uruguay,15,MF,VECINO Matias,24.08.1991,VECINO,FC Internazionale (ITA),189,80
Uruguay,23,GK,SILVA Martin,25.03.1983,M. SILVA,CR Vasco da Gama (BRA),187,82
Uruguay,9,FW,SUAREZ Luis,24.01.1987,SUAREZ,FC Barcelona (ESP),182,85
Uruguay,18,FW,GOMEZ Maximiliano,14.08.1996,M. GOMEZ,Celta Vigo (ESP),186,85
Uruguay,19,DF,COATES Sebastian,07.10.1990,COATES,Sporting CP (POR),196,89

In [11]:
# birinci elemanları almak için
kupa["FIFA POPULAR NAME"].str.split(" ").str.get(0).str.title().value_counts()

FIFA POPULAR NAME
Rodriguez    6
Kim          5
Ben          5
Mohamed      5
Ahmed        3
            ..
Pogba        1
Nzonzi       1
Mandanda     1
Rami         1
Coates       1
Name: count, Length: 669, dtype: int64

In [13]:
# iki ayrı sütuna böler
kupa[["ilk isim", "soyisim"]]= kupa["FIFA POPULAR NAME"].str.split(" ", expand=True, n=1)
kupa

,#,POS.,FIFA POPULAR NAME,BIRTH DATE,SHIRT NAME,CLUB,HEIGHT,WEIGHT,ilk isim,soyisim
Team,,,,,,,,,,
Argentina,3,DF,TAGLIAFICO Nicolas,31.08.1992,TAGLIAFICO,AFC Ajax (NED),169,65,TAGLIAFICO,Nicolas
Argentina,22,MF,PAVON Cristian,21.01.1996,PAVÓN,CA Boca Juniors (ARG),169,65,PAVON,Cristian
Argentina,15,MF,LANZINI Manuel,15.02.1993,LANZINI,West Ham United FC (ENG),167,66,LANZINI,Manuel
Argentina,18,DF,SALVIO Eduardo,13.07.1990,SALVIO,SL Benfica (POR),167,69,SALVIO,Eduardo
Argentina,10,FW,MESSI Lionel,24.06.1987,MESSI,FC Barcelona (ESP),170,72,MESSI,Lionel
...,...,...,...,...,...,...,...,...,...,...
Uruguay,15,MF,VECINO Matias,24.08.1991,VECINO,FC Internazionale (ITA),189,80,VECINO,Matias
Uruguay,23,GK,SILVA Martin,25.03.1983,M. SILVA,CR Vasco da Gama (BRA),187,82,SILVA,Martin
Uruguay,9,FW,SUAREZ Luis,24.01.1987,SUAREZ,FC Barcelona (ESP),182,85,SUAREZ,Luis
Uruguay,18,FW,GOMEZ Maximiliano,14.08.1996,M. GOMEZ,Celta Vigo (ESP),186,85,GOMEZ,Maximiliano
Uruguay,19,DF,COATES Sebastian,07.10.1990,COATES,Sporting CP (POR),196,89,COATES,Sebastian

ÇEŞİTLİ DOSYA TİPLERİNİ İNDİRME VE KAYDETME

In [14]:
kupa.to_csv("state.csv")
kupa.to_excel("state.csv", sheet_name="2014")

In [16]:
#  TODO: make it work!
c = pd.read_excel("./datasets/excel.xlsx", sheet_name=["2006", "2010"])
c["2006"]
c["2006"]

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [4]:
b = pd.read_html("https://odtuteknokent.com.tr/tr/firmalar/tum-firmalar.php")
b[0].to_csv("teknokent.csv")