PANDAS SERIES

In [2]:
import pandas as pd

In [3]:
# listeleri indexli hale getirir.
x=[1,2,3,5,6]
x=pd.Series(x)
x.shape

(5,)

In [5]:
ulke=["abd","çin","Türkiye","fransa"]
ulke=pd.Series(ulke)

In [6]:
d=[True,True,False]
pd.Series(d)

0     True
1     True
2    False
dtype: bool

In [7]:
gelir={
    "ABD":80000,
    "Almanya":50000,
    "Türkiye":15000
}
pd.Series(gelir)

ABD        80000
Almanya    50000
Türkiye    15000
dtype: int64

In [6]:
ulke.values
ulke.index
ulke.dtype
ulke.name="Ülkeler"
ulke.head()

0        abd
1        çin
2    Türkiye
3     fransa
Name: Ülkeler, dtype: object

PARAMETRE VE ARGÜMANLAR

In [2]:
yillar=[2015,2016,2017,2018,2019]
gelir=[10000,20000,30000,40000,50000]

pd.Series(data=yillar,index=gelir)
pd.Series(data=gelir,index=yillar)

10000    2015
20000    2016
30000    2017
40000    2018
50000    2019
dtype: int64

In [4]:
sayi=[1,2,4,6,8.3,34]
sayi=pd.Series(sayi)
sayi

0     1.0
1     2.0
2     4.0
3     6.0
4     8.3
5    34.0
dtype: float64

In [7]:
sayi.std()
sayi.mean()
sayi.sum()
sayi.max()
sayi.min()
sayi.product()

13545.6

READ_CSV, HEAD, TAIL

In [12]:
kisi=pd.read_csv("deneme.csv")
kisi

,KisiId,KisiAdSoyad,YUNumarasi,Uyruk,DogumUlke,DogumTarihi,Cinsiyet
0,1160,FAIMA AL BAYATI,9.941691e+10,Iraq,Iraq,24/05/2000,Kadın
1,1027,ZAINAB HAYDER MAJEED FULFULI,9.902997e+10,Iraq,Iraq,23/01/2002,Kadın
2,1277,HASHIM KHUDHAIR IBRAHEEM,9.958683e+10,Iraq,Iraq,06/05/1995,Erkek
3,1351,SARA SALAHALDEEN MAHDE YASSAR,9.935550e+10,Iraq,Iraq,02/06/1996,Kadın
4,3298,ABDULSALAM HAMAD SULTAN ALSADOON,9.907428e+10,Iraq,Iraq,19/08/1997,Erkek
...,...,...,...,...,...,...,...
83,24752,ALMUSTAFA ESSMAT AL JASHAAMI,9.955038e+10,Iraq,Iraq,21/03/1999,Erkek
84,26398,HUDA AHMED ABBOOD ALKARKHI,9.976682e+10,Iraq,Iraq,05/04/1999,Kadın
85,26685,ABDULRHMAN SAMI ALSAMRAEY,9.922718e+10,Iraq,Iraq,12/04/1998,Erkek
86,26773,HASHIM MOHAMMED HASHIM AL KHAYYAT,9.947981e+10,Iraq,Iraq,16/04/2002,Erkek
87,26824,MOHAMMED JANABI ALBUAWAYF,9.950357e+10,Iraq,Iraq,06/01/2001,Erkek

In [26]:
gelir=pd.read_csv("./pandas/milligelir.csv")
gelir
gelir.head()
gelir.head(10)

   Milli Gelir
0     20410000
1     14090000
2      5170000
3      4210000
4      2940000
5      2930000
6      2850000
7      2180000
8      2140000
9      1800000

In [7]:
gelir.tail()
gelir.tail(10)

    Milli Gelir
10      1720000
11      1690000
12      1510000
13      1500000
14      1210000
15      1070000
16       945000
17       910000
18       748000
19       741000

BUILT IN FUNCTIONS

In [16]:
ulke=pd.read_csv("./pandas/ulke.csv")
ulke=ulke.squeeze("columns")
# gelir=gelir.squeeze("columns")
ulke
len(ulke)
list(ulke)
sorted(ulke)
type(ulke)
dict(ulke)

{0: 'ABD',
 1: 'Çin',
 2: 'Japonya',
 3: 'Almanya',
 4: 'İngiltere',
 5: 'Fransa',
 6: 'Hindistan',
 7: 'İtalya',
 8: 'Brezilya',
 9: 'Kanada',
 10: 'Rusya',
 11: 'GÜney Kore',
 12: 'İspanya',
 13: 'Avusturalya',
 14: 'Meksika',
 15: 'Endonezya',
 16: 'Hollanda',
 17: 'Türkiye',
 18: 'Suudi Arabistan',
 19: 'İsviçre'}

sort_values(), inplace ve in

In [17]:
ulke.sort_values()
# gelir.sort_values(ascending=False)

0                 ABD
3             Almanya
13        Avusturalya
8            Brezilya
15          Endonezya
5              Fransa
11         GÜney Kore
6           Hindistan
16           Hollanda
2             Japonya
9              Kanada
14            Meksika
10              Rusya
18    Suudi Arabistan
17            Türkiye
1                 Çin
4           İngiltere
12            İspanya
19            İsviçre
7              İtalya
Name: Ülke, dtype: object

In [31]:
# yeni işleme göre kaydetmesi için:
# yeni_gelir=gelir.sort_values(inplace=True)
# yeni_gelir

In [18]:
gelir.sort_index()

NameError: name 'gelir' is not defined

In [20]:
"ABD" in ulke
"ABD" in ulke.values

True

INDEKSLEME VE MATEMATİKSEL İŞLEMLER

In [22]:
# satır alma
ulke[5]
ulke[:10]

0          ABD
1          Çin
2      Japonya
3      Almanya
4    İngiltere
5       Fransa
6    Hindistan
7       İtalya
8     Brezilya
9       Kanada
Name: Ülke, dtype: object

In [44]:
gelir.count()
gelir.sum()
gelir.mean()
gelir.std()
gelir.median()
gelir.describe()

count    2.000000e+01
mean     3.538200e+06
std      4.935789e+06
min      7.410000e+05
25%      1.175000e+06
50%      1.760000e+06
75%      2.932500e+06
max      2.041000e+07
Name: Milli Gelir, dtype: float64

ÇEŞİTLİ METOTLAR (value_count(), idxmax(), idxmin() ve apply())

In [25]:
kita=pd.read_csv("./pandas/KITA.csv").squeeze("columns")
kita
kita.value_counts(ascending=True)

KITA
Güney Amerika    1
Okyanusya        1
Kuzey Amerika    3
Asya             7
Avrupa           8
Name: count, dtype: int64

In [30]:
# min ve max değerler hangi indekslerde
gelir.idxmax()
gelir.idxmin()
# gelir[gelir.idxmax()]

Milli Gelir    19
dtype: int64

In [52]:
def sinif(inc):
    if inc<2_000_000:
        return "orta"
    elif 5_000_000>= inc >= 2_000_000:
        return "yüksek"
    else:
        return "çok yüksek"
    
gelir.apply(sinif)

0     çok yüksek
1     çok yüksek
2     çok yüksek
3         yüksek
4         yüksek
5         yüksek
6         yüksek
7         yüksek
8         yüksek
9           orta
10          orta
11          orta
12          orta
13          orta
14          orta
15          orta
16          orta
17          orta
18          orta
19          orta
Name: Milli Gelir, dtype: object

DATAFRAMES

In [32]:
country=pd.read_csv("./pandas/dunya.csv")
country

               Ülke     Gelir     Nüfus  Kişi Başına           KITA
0               ABD  20410000   323,766        63039  Kuzey Amerika
1               Çin  14090000  1415,045         9957           Asya
2           Japonya   5170000   127,185        40649           Asya
3           Almanya   4210000    82,293        51158         Avrupa
4         İngiltere   2940000    66,573        44162         Avrupa
5            Fransa   2930000    65,233        44915         Avrupa
6         Hindistan   2850000  1354,051         2104           Asya
7            İtalya   2180000     59,29        36768         Avrupa
8          Brezilya   2140000   210,867        10148  Güney Amerika
9            Kanada   1800000    36,953        48710  Kuzey Amerika
10            Rusya   1720000   143,967        11947         Avrupa
11       GÜney Kore   1690000    51,164        33031           Asya
12          İspanya   1510000    46,397        32545         Avrupa
13      Avusturalya   1500000    24,772        60552      Okyanusya
14          Meksika   1210000   130,759         9253  Kuzey Amerika
15        Endonezya   1070000   266,794         4010           Asya
16         Hollanda    945000    17,084        55314         Avrupa
17          Türkiye    910000    81,916        11108           Asya
18  Suudi Arabistan    748000    33,554        22292           Asya
19          İsviçre    741000     8,554        86626         Avrupa

In [40]:
country.head()
country.tail()
country.index
country.shape
country.columns
country.info()
# country.axes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ülke         20 non-null     object
 1   Gelir        20 non-null     int64
 2   Nüfus        20 non-null     object
 3   Kişi Başına  20 non-null     int64
 4   KITA         20 non-null     object
dtypes: int64(2), object(3)
memory usage: 932.0+ bytes

In [68]:
country=pd.read_csv("./pandas/dunya.csv",index_col="Ülke")
country

                    Gelir     Nüfus  Kişi Başına           KITA
Ülke
ABD              20410000   323,766        63039  Kuzey Amerika
Çin              14090000  1415,045         9957           Asya
Japonya           5170000   127,185        40649           Asya
Almanya           4210000    82,293        51158         Avrupa
İngiltere         2940000    66,573        44162         Avrupa
Fransa            2930000    65,233        44915         Avrupa
Hindistan         2850000  1354,051         2104           Asya
İtalya            2180000     59,29        36768         Avrupa
Brezilya          2140000   210,867        10148  Güney Amerika
Kanada            1800000    36,953        48710  Kuzey Amerika
Rusya             1720000   143,967        11947         Avrupa
GÜney Kore        1690000    51,164        33031           Asya
İspanya           1510000    46,397        32545         Avrupa
Avusturalya       1500000    24,772        60552      Okyanusya
Meksika           1210000   130,759         9253  Kuzey Amerika
Endonezya         1070000   266,794         4010           Asya
Hollanda           945000    17,084        55314         Avrupa
Türkiye            910000    81,916        11108           Asya
Suudi Arabistan    748000    33,554        22292           Asya
İsviçre            741000     8,554        86626         Avrupa